.lp-notifications .notifications-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.lp-notifications .notification {
  position: relative;
  width: 100%;
  z-index: 20;
}
.lp-notifications .notification > .alert {
  margin-bottom: 0;
}
.lp-notifications .notification.sticky-notification {
  position: fixed;
}
.lp-notifications .margin-top {
  margin-top: 51px;
}
.lp-notifications .notification-retry {
  padding-right: 0;
}
.lp-notifications .notification-item {
  display: table;
  width: 100%;
  margin-bottom: 0;
}
.lp-notifications .notification-item .notification-message,
.lp-notifications .notification-item .retry-buttons {
  display: table-cell;
}
.lp-notifications .notification-item .notification-message {
  width: 100%;
}
.lp-notifications .notification-item .retry-buttons {
  white-space: nowrap;
  padding-left: 5px;
}
.lp-notifications .notification-item.notification-template + .notification-item {
  display: none;
}
.lp-notifications .notification-item.notification-grouped > .notification-message ~ .notification-message {
  display: none;
}
.lp-notifications .notification-item .notification-hidden {
  font-size: 65%;
  white-space: nowrap;
  vertical-align: middle;
}
.lp-notifications .notification-item .notification-message-count-1 .notification-hidden {
  display: none;
}
.lp-notifications .overlay {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
}
.lp-notifications .overlay > .overlay-container {
  width: 70%;
  max-width: 700px;
  margin: 100px auto 0;
}
.lp-notifications .overlay .close {
  color: #EEE;
}
.lp-notifications .overlay .close:hover {
  opacity: .8;
  color: #FFF;
}
.lp-notifications .overlay .close-all {
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.lp-notifications .overlay .alert {
  font-size: 20px;
  color: #EEE;
  background-color: inherit !important;
  border-radius: 0;
  border-width: 0 0 0 5px;
  margin-bottom: 10px;
}
.lp-notifications .overlay .alert.alert-info {
  border-left-color: #4495BD;
}
.lp-notifications .overlay .alert.alert-warning {
  border-left-color: #C59B57;
}
.lp-notifications .overlay .alert.alert-danger {
  border-left-color: #CE4846;
}
.lp-notifications .overlay .alert.alert-success {
  border-left-color: #5FA960;
}
.lp-notifications .overlay .alert .alert-link-colorless {
  font-size: 80%;
  font-weight: bold;
}
