/*----------------------------------------------------------------*/
/* Local widget styles
/*----------------------------------------------------------------*/

.lp-mt-account-details h3 {
    padding: 0 15px;
}

.lp-mt-account-details .transaction-amount {
    font-size: 24px;
    font-weight: bold;
}
