<widget>
	<name>widget-launchpad-base</name>
	<contextItemName>[BBHOST]</contextItemName>
	<properties>
		<property label="Title" name="title" viewHint="admin,designModeOnly">
			<value type="string">Base Widget (Abstract)</value>
		</property>
		<property name="TemplateName">
			<value type="string">Standard_Widget</value>
		</property>
		<property label="Widget Chrome" name="widgetChrome" viewHint="select-one,admin,designModeOnly">
			<value type="string">/launchpad/universal/chromes/blank/chrome-blank.html</value>
		</property>
		<property name="order">
			<value type="double">0.0</value>
		</property>
		<property name="area">
			<value type="string"/>
		</property>
		<property name="thumbnailUrl">
			<value type="string">/launchpad/universal/widgets/base-widget/icon.png</value>
		</property>
		<property name="noForceChrome">
			<value type="boolean">false</value>
		</property>
		<property name="icon" label="Icon Class">
			<value type="string"/>
		</property>
		<property name="locale" label="Locale">
			<value type="string">en</value>
		</property>
		<property name="messageSrc" label="Messages Source">
			<value type="string"/>
		</property>
	</properties>
	<securityProfile>ADMIN</securityProfile>
</widget>
