<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Portfolio Aggregated View</title>
    <link rel="stylesheet" type='text/css' href="dist/styles/base.css"/>
    <link rel="stylesheet" type='text/css' href="../../../modules/module-wealth/styles/base.css"/>
</head>
<body g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');" class="portfolio-aggregated-view" ng-controller="AggregatedCtrl as ac" ng-cloak="true">

<div class="loading-panel" ng-if="ac.loading" role="alert">
    <i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
    <span class="sr-only" lp-i18n="Busy"></span>
</div>

<div class="header">
    <ul>
        <li ng-repeat="v in ac.views" ng-click="ac.set(v)" ng-class="{current: ac.current === v}" translate="{{v.name}}"></li>
    </ul>
</div>

<div ng-repeat="v in ac.views" ng-class="{current: ac.current === v}" class="view {{v.id}}">
    <div lp-wealth-aggregated-view="ac.data" type="{{v.type}}" key="{{v.id}}"></div>
</div>

<div class="footer">
    <ul>
        <li ng-repeat="v in ac.views" ng-click="ac.set(v)" ng-class="{current: ac.current === v}"></li>
    </ul>
</div>

</body>
</html>
