{{#isShowInMenu}}
    {{#isVisualLink}}
    <li class="{{#isDivider}}divider-vertical{{/isDivider}} {{CssClass}}">
        <a title="{{#pref.menuAccessibilityTitle}}{{value}}{{/pref.menuAccessibilityTitle}}"
         data-linkType="{{linkType}}"><i></i>{{title}}</a>
    {{/isVisualLink}}
    {{^isVisualLink}}
    <li class="{{#isDivider}}divider-vertical{{/isDivider}} {{CssClass}}">
        {{#children.isEmpty}}
        <a title="{{#pref.menuAccessibilityTitle}}{{value}}{{/pref.menuAccessibilityTitle}}"
            href="{{Url}}" data-linkType="{{linkType}}" data-uuid="{{pref.ItemRef.value}}"><i></i>{{title}}</a>
        {{/children.isEmpty}}
        {{^children.isEmpty}}
        <a title="{{#pref.menuAccessibilityTitle}}{{value}}{{/pref.menuAccessibilityTitle}}"
            href="{{Url}}" data-linkType="{{linkType}}" data-uuid="{{pref.ItemRef.value}}"><i></i>{{title}}</a>
        {{/children.isEmpty}}
    {{/isVisualLink}}
        {{^children.isEmpty}}
        <ul>
            {{#children}}
                {{> mustache_mid_level}}
            {{/children}}
        </ul>
        {{/children.isEmpty}}
    </li>
{{/isShowInMenu}}
