<div class="tile-progress ng-cloak"
	ng-if="budget.spentPercentage() !== 0"
	style="top: {{ 100-budget.spentPercentage() }}%"
	ng-class="{'progress-bar-success' : !budget.exceeds(), 'progress-bar-danger' : budget.exceeds()}">
</div>
<div class="budget-header">
	<div class="budget-header-amount">
        <span lp-amount="budget.spent" lp-amount-currency="budget.currencySymbol()"></span>
		<span>&nbsp;&frasl;&nbsp;</span>
        <span lp-amount="budget.amount" lp-amount-currency="budget.currencySymbol()"></span>
	</div>
	<div class="top-control pull-right" ng-if="shared.budgetEditMode">
		<div class="removeBtn" grid-click="remove(event)">
			<div class="budget-icon lp-icon lp-icon-remove-sign"
                 tooltip="{{ 'Remove budget' | translate }}"
                 tooltip-placement="bottom">
			</div>
		</div>
	</div>
</div>
<div class="budget-name"
	ng-class="{'progress-bar-success' : !budget.exceeds(), 'progress-bar-danger' : budget.exceeds()}">
	<span class="pull-left">{{ budget.name }}</span>
</div>

<span class="tile-logo icon-icons-budgets_{{ budget.image }}"></span>
