<div class="overlay notifications-container" ng-style="{display: notCtrl.model.notifications.length ? 'block' : 'none'}">

    <div tabindex="-1" lp-focus-on="lp.notifications.focus" aria-live="polite" class="overlay-container">

        <button type="button" class="close close-all alert-dismissable" ng-if="notCtrl.closeAllButton" ng-click="notCtrl.closeAllNotifications()">
            <i class="glyphicon glyphicon-remove"></i>
        </button>

        <div ng-repeat="notification in notCtrl.model.notifications track by notification.id" role="alert" class="notification">

            <div class="notification-item notification-template" ng-if="notification.container.template">
                <lp-template src="notification.container.template"></lp-template>
            </div>

            <div class="notification-item alert {{notification.className}}"
                 ng-class="{ 'alert-dismissable': notification.closable }"
                 ng-if="!notification.container.template">

                <button type="button" class="close" ng-if="notification.closable" ng-click="notCtrl.closeNotification(notification)">&times;</button>
                <p>
                    <span lp-i18n="{{notification.message}}" translate-values="{{notification.values}}"></span>
                    <span ng-repeat="link in notification.links">
                        <br ng-if="notification.links.length > 1" />
                        <a ng-href="{{link.uri}}" class="alert-link-colorless"><span lp-i18n="{{link.rel}}"></span></a>
                    </span>
                </p>
            </div>
        </div>

    </div>

</div>
