<div ng-controller="PayCtrl as ctrl" class="lp-pay panel-body" ng-if="mainCtrl.bpModel.payment">
    <div class="panel-body" progress-indicator="ctrl.isConnecting || mainCtrl.bpService.isConnecting">

        <!--  Alerts -->
        <div class="lp-alerts" tabindex="-1">
            <div class="alert alert-danger" ng-if="mainCtrl.bpService.errors">
                <p ng-repeat="error in mainCtrl.bpService.errors">
                    <i class="lp-icon lp-icon-alert-error"></i> {{error.code | translate}}
                </p>
            </div>
            <div class="alert alert-warning" ng-if="ctrl.warnings">
                <p ng-repeat="warning in ctrl.warnings">
                    <i class="lp-icon lp-icon-alert-warning"></i> {{warning.code | translate}}
                </p>
            </div>
        </div>

        <form  ng-submit="PayForm.$valid &amp;&amp; ctrl.pay(payment)"
                aria-label="{{mainCtrl.bpModel.currentBiller.name}} payment form"
                name="PayForm" novalidate=""
                ng-if="!payment.sent">

            <div lp-new-payment-box
                 accounts="ctrl.accounts"
                 payment="payment"
                 show-urgent-transfer="ctrl.showUrgentTransfer()"
                 e-bill="ctrl.eBills"
                 scheduled-transfer-frequencies="ctrl.frequencies"
                 scheduled-transfer-end-options="ctrl.endOptions">
            </div>

            <div class="col-sm-12">
                <button type="submit"
                        ng-click="PayForm.submitted=true"
                        class="btn btn-primary col-xs-6 col-sm-6" lp-i18n="Pay">
                </button>
                <button type="button"
                        ng-click="ctrl.cancel()"
                        class="btn btn-link" lp-i18n="Cancel">
                </button>
            </div>
        </form>

        <div ng-if="payment.sent" ng-controller="PayeeAddedCtrl as successCtrl">
            <div class="col-xs-2 payee-add-successful">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="panel-title clearfix">
                    <p lp-i18n="PaymentWasSent" translate-values="{ amount: payment.amount, billerName: mainCtrl.bpModel.currentBiller.name }"></p>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit"
                        ng-click="successCtrl.openDashboard()"
                        class="btn btn-primary" lp-i18n="Open Dashboard">
                </button>
                <button type="button"
                        ng-click="successCtrl.addNewPayee()"
                        class="btn btn-link" lp-i18n="Add another payee">
                </button>
            </div>
        </div>
    </div>
</div>
