<div class="modal-header">
	<h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> <span lp-i18n="Urgent Transfer"></span></h2>
</div>
<div class="modal-body" lp-i18n="If you need to send money fast and cannot wait for the usual bank time of approx. 1-2 days then Urgent Transfer allows you to pass the money across in a 5 minute window instead. However, it does come with a 5$ charge and this will appear as a separate transaction in your activity view.">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="toggleUrgentTransferModal()" lp-i18n="Close"></button>
</div>
