<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Budgets</title>
	<link rel="stylesheet" type="text/css" href="dist/styles/base.css" />
</head>

<body class="lp-budgets" g:onload="requireWidget(__WIDGET__, 'scripts/main');">
	<div class="ng-cloak" ng-controller="BudgetsController" ng-class="responsiveClass">
		<div class="lp-widget-content widget widget-default" role="application">
			<!-- Alerts -->
			<alert class="budgets-alert" ng-repeat="alert in alerts.list()"
				type="{{alert.type}}" close="alerts.close()">
				{{ alert.msg | translate }}
			</alert>
			<!-- Budget grid -->
			<div class="lp-widget-body widget-body">
				<!-- Loading indicator -->
				<div ng-if="budgetsManager.loading()" id="loadingInd"
					class="panel-message loading-panel" role="alert">
					<i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
					<span class="sr-only" lp-i18n="Busy"></span>
				</div>
				<!-- Budgets -->
				<div class="tiles clearfix ng-cloak">
					 <div class="gridly">
						<budget mode="view" ng-repeat="b in budgetsManager.budgets()"
							budget="b" reload-budgets="">
						</budget>
					</div>
				</div>
			</div>
			<!-- Controls -->
			<div class="widget-footer">
				<button id="editBtn" type="button" data-toggle="button"
					ng-click="toggleEditMode();"
					class="btn btn-default pull-right"
					ng-class="{ 'btn-primary' : shared.budgetEditMode }">
					<i class="lp-icon lp-icon-pencil"></i>
					<span ng-if="!shared.budgetEditMode">{{ 'Edit budgets' | translate }}</span>
					<span ng-if="shared.budgetEditMode">{{ 'Finish editing' | translate }}</span>
				</button>
			</div>
		</div>
	</div>
</body>
</html>
