<?xml version="1.0" encoding="UTF-8"?>
<w3c:widget xmlns:w3c="http://www.w3.org/TR/widgets"
            xmlns:bb="http://www.backbase.com/ns/widgets"
            xmlns="http://www.w3.org/1999/xhtml">

    <bb:resources>
        <link type="text/css" rel="stylesheet" href="$(contextRoot)/static/launchpad/containers/DeckContainer/css/deck-container.css" />
        <link type="text/css" rel="stylesheet" href="$(contextRoot)/static/launchpad/containers/TabsContainer/css/tabs.css" />

        <script src="$(contextRoot)/templates/Tabs/template.js"></script>
        <script src="$(contextRoot)/static/launchpad/containers/DeckContainer/js/deck-container.js"></script>
        <script src="$(contextRoot)/static/launchpad/containers/TabsContainer/js/tabs.js"></script>
    </bb:resources>
</w3c:widget>