<div ng-if="shared.isInboxEmpty() &amp;&amp; !shared.editLetterInd">
    <div class="panel-message" ng-hide="shared.loading">
        <div class="panel-body text-center" lp-i18n="You don't have any messages to review"></div>
        <div class="text-center">
            <button name="new-message" class="btn btn-primary" ng-click="createEditLetterAction()" lp-i18n="New message"></button>
        </div>
    </div>
</div>
<div ng-if="shared.loading">
	<div class="panel-message loading-panel" role="alert">
		<i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
		<span class="sr-only">Busy</span>
	</div>
</div>
