    <div class="panel-heading panel-title clearfix">
        <strong lp-i18n="Select Billers Site"></strong>
    </div>

    <p lp-i18n="EBillsMultipleSitesFoundInstructions" translate-values="{ billerName: {{mainCtrl.bpModel.currentBiller.name}} }"></p>

    <div class="panel-body">
        <p lp-i18n="Select site"></p>
        <div lp-field="lp-field"
             label="{{ 'Select biller site' | translate }}"
             aria-label="{{ 'Select biller sites' | translate }}"
             class="">
            <div dropdown-select="dropdown-select"
                 ng-model="mainCtrl.bpModel.currentBiller.ebills.billerSite"
                 ng-options="site as site.name for site in mainCtrl.bpModel.currentBiller.ebills.sites">
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <button type="submit" ng-click="ctrl.confirm()" class="btn btn-primary col-xs-7 col-sm-5" lp-i18n="Confirm"></button>
        <button type="button" ng-click="ctrl.cancel()" class="btn btn-link" lp-i18n="Cancel"></button>
    </div>
