    <div class="panel-heading panel-title clearfix">
        {{ 'Select eBills Account' | translate }}
    </div>

    <div class="panel-body"
         ng-switch="mainCtrl.bpModel.currentBiller.ebills.accounts.length">

        <div ng-switch-when="0">
            <p lp-i18n="We were unable to locate an account using the logon credentials you provided."></p>
        </div>

        <div ng-switch-when="1" ng-init="mainCtrl.bpModel.currentBiller.ebills.account = mainCtrl.bpModel.currentBiller.ebills.accounts[0]">
            <p>Confirm that the account with account number <b>{{mainCtrl.bpModel.currentBiller.ebills.accounts[0].name}}</b> is the account you want to recieve eBills. If this is not the correct account, click cancel</p>
        </div>

        <div ng-switch-default>
            <p lp-i18n="Select the account for which you would like to receive eBills."></p>
            <div lp-field="lp-field"
                 label="{{ 'Select account' | translate }}"
                 aria-label="{{ 'Select account' | translate }}"
                 class="">
                <div dropdown-select="dropdown-select"
                     ng-model="mainCtrl.bpModel.currentBiller.ebills.account"
                     ng-options="val as val.name for val in mainCtrl.bpModel.currentBiller.ebills.accounts">
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <button type="submit" ng-click="ctrl.confirm()" class="btn btn-primary col-xs-7 col-sm-5" lp-i18n="Confirm"></button>
        <button type="button" ng-click="ctrl.cancel()" class="btn btn-link" lp-i18n="Cancel"></button>
    </div>
