<form class="form-horizontal" ng-submit="ctrl.confirm()"
      aria-label="{{mainCtrl.bpModel.currentBiller.name}} authentication form">

    <div class="panel-heading panel-title clearfix">
        {{ 'Login to' | translate }} <strong>{{mainCtrl.bpModel.currentBiller.name}}</strong>
    </div>
    <div class="panel-body">
        <p lp-i18n="EBillsLoginInstructions" translate-values="{ billerName: mainCtrl.bpModel.currentBiller.name }"></p>
        <p lp-i18n="EBillsLoginInstructionsNote" translate-values="{ billerName: mainCtrl.bpModel.currentBiller.name }"></p>
    </div>
    <div ng-repeat="credential in mainCtrl.bpModel.currentBiller.ebills.credentialsParams">
        <div lp-field="" label="{{credential.fieldLabel}}">
            <div dynamic-credential-input="" credential="credential" ng-model="credential.value"></div>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary col-xs-7 col-sm-5" lp-i18n="Log In"></button>
        <button type="button" ng-click="ctrl.cancel()" class="btn btn-link" lp-i18n="Skip e-Bill setup"></button>
    </div>

</form>
