.lp-transactions-search {
  width: 100%;
}
.lp-transactions-search button.dropdown-toggle .caret {
  display: none;
}
@media (max-width: 1199px) {
  .lp-transactions-search .lp-search-wrapper {
    position: static;
  }
}
