
<!--  Alerts -->
<div class="lp-alerts">
    <div alert="alert" class="alert alert-dismissible"
        ng-repeat="alert in mainCtrl.alerts.list();"
        type="{{ alert.type }}"
        close="mainCtrl.alerts.close()">
            {{ alert.msg | translate }}
    </div>
</div>

<!-- Loading indicator -->
<div ng-if="mainCtrl.loading">
    <div class="panel-message loading-panel" role="alert">
        <i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
        <span class="sr-only" lp-i18n="Busy"></span>
    </div>
</div>

<div class="panel-message" ng-hide="mainCtrl.ordersModel.pendingOrdersGroups.length" lp-i18n="messages.NO_PENDING_TRANSFERS">
</div>

<ul class="list-group panel panel-default" ng-repeat="group in mainCtrl.ordersModel.pendingOrdersGroups" itemscope="" itemprop="paymentOrderAccount">
    <li class="list-group-item panel-heading" tabindex="0">
        <small class="text-muted"  lp-i18n="messages.TRANSFER_FROM">From:</small><span class="h4" itemprop="fromAccount"> {{mainCtrl.accountsModel.findById(group["@id"]).alias}}</span><br/>
        <small class="text-muted" aria-hidden="true">{{mainCtrl.accountsModel.findById(group["@id"]).identifier}}</small>
    </li>
    <li class="list-group-item clearfix"
        ng-class="{'list-group-item-success': paymentOrder.submitted, 'list-group-item-danger': paymentOrder.verificationFailure}"
        ng-repeat="paymentOrder in group.paymentOrders"
        itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/payment-order"
        tabindex="0">
        <div class="hidden-xs hidden-sm col-md-1 list-group-item-pic">
            <img height="50" width="50" ng-src="{{mainCtrl.decodePhotoUrl(paymentOrder.counterpartyName)}}"/>
        </div>
        <div class="col-xs-12 col-md-11 valign-middle">
            <div class="row row-danger">
                <div class="col-xs-5">
                    <small class="text-muted" lp-i18n="messages.TRANSFER_TO">To:</small><span class="h4" itemprop="counterpartyName"> {{paymentOrder.counterpartyName}}</span>
                </div>
                <div class="col-xs-3 text-right">
                    <button class="btn btn-xs btn-default verify-p2p" ng-click="mainCtrl.verifyP2PDetails(paymentOrder, false)"
                            ng-if="paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified">
                        <span class="glyphicon glyphicon-warning-sign"></span>  {{"messages.VERIFY_P2P" | translate}}<span class="hidden-xs"> {{"messages.VERIFY_P2P_FULL" | translate}}</span>
                    </button>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="h4" lp-amount="paymentOrder.instructedAmount" lp-amount-currency="paymentOrder.instructedCurrency" itemprop="instructedAmount"></span>
                </div>
                <div class="col-xs-1 text-right">
                    <button ng-click="mainCtrl.editOrder(paymentOrder)" type="button" class="btn btn-sm btn-link"><i class="glyphicon glyphicon-edit"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <span class="sr-only" lp-i18n="Account IBAN"></span>
                    <small ng-class="{'raise': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified}"
                            itemprop="counterpartyIban"
                            class="text-muted">
                        {{ paymentOrder.accountDetails }}
                    </small>
                </div>
                <div class="col-xs-3 text-right" itemprop="instructedDateTime">
                    <small class="text-muted">{{ paymentOrder.onDate | date:'longDate' }}</small>
                </div>
                <div class="col-xs-1 text-right">
                    <button ng-click="mainCtrl.removeOrder(group, paymentOrder)" type="button" class="btn btn-sm btn-link"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
            </div>
            <div class="row" ng-if="paymentOrder.verificationFailure">
                <div ng-class="{'raise': paymentOrder.type === transferTypeEnum.p2pEmail &amp;&amp; !p2pUser.emailVerified}" class="col-xs-12 verification-error">
                    <i class="glyphicon glyphicon-warning-sign"></i> {{"messages.UNSENT_VERIFY_CONTACTDETAILS" | translate}}
                </div>
            </div>
        </div>
    </li>
</ul>
<div ng-if="ordersModel.pendingOrdersGroups.length !== 0">
    <div class="transfers-totals-row text-right">
        <small class="text-muted">
            <span ng-pluralize="" count="mainCtrl.pendingOrdersTotals().count"
                  when="{'1': 'Total: 1 transfer', 'other': 'Total: {} transfers'}">
            </span>
        </small>
        <span ng-if="mainCtrl.pendingOrdersTotals().currency" class="h4 transfers-totals-amount" lp-amount="mainCtrl.pendingOrdersTotals().amount" lp-amount-currency="mainCtrl.pendingOrdersTotals().currency" itemprop="totalsAmount"></span>
        <i ng-if="mainCtrl.pendingOrdersTotals() !== false &amp;&amp;!mainCtrl.pendingOrdersTotals().currency" class="lp-icon lp-icon-xxl lp-icon-info-sign open-popup" ng-click="mainCtrl.sameCurrency()"></i>
    </div>
</div>

<!--  Footer -->
<div class="widget-footer">
    <button name="makePayment"
            class="pull-left btn btn-default"
            ng-click="mainCtrl.makePayment()"
            type="button" lp-i18n="messages.BUTTON_NEW_TRANSFER">
    </button>
    <button name="submitPayments"
            class="pull-right btn btn-primary"
            ng-click="mainCtrl.submitPayments(mainCtrl.ordersModel.pendingOrdersGroups)"
            ng-disabled="mainCtrl.ordersModel.pendingOrdersGroups.length === 0"
            type="button" lp-i18n="messages.BUTTON_SUBMIT_ALL">
    </button>
</div>
