.introduction {
	color: #FFF;
	padding: 50px 10px;
	text-align: center;
	background-image: url('../media/header.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.introduction h4 {
	margin-top: 0px;
}

.introduction p {
	margin-bottom: 0px;
}