{{=[[ ]]=}}
<div ng-controller="NavBarAdvancedController" class="lp-navbar-advanced" ng-class="{'design-mode': isDesignMode}">
    <div class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': navSticky}" scrolling-hook="scrolling-hook" scroll-class="scrollSetting" scroll-distance="100" hook-callback="publishOffsetCorrection" role="navigation" element-resize="updateSize(data)">
        <div ng-class="{'container-fluid': containerType==='fluid','container': containerType==='fixed'}">
            <div class="navbar-header clearfix ng-cloak">
                <div ng-if="mobileLogoUrl.length > 0" class="icon-container visible-xs hidden-sm">
                    <span nav-icon="nav-icon" icon="launcherIcon" class="nav-icon navbar-left visible-xs-inline-block cursor-pointer" ng-click="toggleLauncherMenu()"></span>
                </div>
                <button type="button" data-action="left" class="navbar-toggle launcher-toggle hidden-sm visible-xs pull-left lp-launcher-sidebar-button" ng-click="toggleLauncherMenu()">
                    <span class="sr-only">Launcher Navigation</span>
                    <span ng-if="mobileLogoUrl.length === 0" nav-icon="nav-icon" icon="launcherIcon" class="nav-icon"></span>
                    <img ng-if="mobileLogoUrl.length > 0" ng-src="{{mobileLogoUrl}}" class="pull-left launcher-logo"/>
                    <span ng-if="showNotificationsBadge" class="pull-right badge">2</span>
                </button>
                <button type="button" class="navbar-toggle {{animationClass}}" ng-click="toggleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar animate bar-first"></span>
                    <span class="icon-bar animate bar-second"></span>
                    <span class="icon-bar animate bar-third"></span>
                </button>
                <a class="navbar-brand hidden-xs" href="#"><img class="launcher-logo" ng-src="{{logoUrl}}" /></a>
                <p ng-if="showPageTitle" class="navbar-brand text-center hidden-sm visible-xs active-page">{{activeContext}}</p>
            </div>
            <div class="collapse navbar-collapse" collapse="showMenu">
                <ul class="nav navbar-nav lp-navbar-advanced-root">
                    [[#links]]
                        [[> mustache_mid_level]]
                    [[/links]]
                </ul>

                <ul class="nav navbar-nav pull-right" ng-if="locales">
                    <li><a lp-i18n-switch="{{locales}}" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
[[={{ }}=]]