<div ng-controller="PlacesCtrl" class="ng-cloak" ng-cloak="true" lp-responsive="lp-responsive" size-rules="sizeRules" lp-size="widgetSize" lp-on-resize="resized(width)" >
    <!--  Full Content -->
    <div class="lp-widget-content">
        <!--  Alerts -->
        <div class="lp-alerts">
            <div alert="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</div>
        </div>

        <!--  Widget Head -->
        <div class="widget-heading row">
            <div class="lp-places-search" ng-class="{'col-xs-8': widgetSize === 'normal', 'col-xs-10': widgetSize === 'small'}">
                <div class="input-group search-input">
                    <span class="input-group-addon"><i class="lp-icon lp-icon-search2"></i></span>
                    <input type="text" ng-disabled="status.isLoading" class="form-control filters-name" ng-model="filters.searchname" placeholder="{{'Search address, zip, city'|translate}}" places-autocomplete="search(result)"/>
                </div>
            </div>

            <div ng-class="{'col-xs-4': widgetSize === 'normal', 'col-xs-1': widgetSize === 'small'}">
                <div class="btn-group" dropdown="dropdown" is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="status.isLoading">
                        <span lp-i18n="Services" class="hidden-xs"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="filter in filters track by filter.id" >
                                <a><label ng-click="toggleFilter($event, filter)">
                                    <input type="checkbox" ng-checked="filter.selected" ng-model="filter.selected"/>
                                    <span lp-i18n="{{filter.label}}"></span>
                                </label></a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!--  Body Content -->
        <div class="lp-widget-body">
            <ul tabset="tabset">
                <li tab="tab" select="setView('map')">
                    <span tab-heading="tab-heading">
                        <i class="lp-icon lp-icon-places"></i> <span lp-i18n="Map"></span>
                    </span>
                </li>
                <li tab="tab" select="setView('list')">
                    <span tab-heading="tab-heading">
                        <i class="lp-icon lp-icon-list-view"></i> <span lp-i18n="List"></span>
                    </span>
                </li>
                <li tab="tab" select="setView('split')" class="hidden-xs">
                    <span tab-heading="tab-heading">
                        <i class="glyphicon glyphicon-th-list"></i> <span lp-i18n="Split"></span>
                    </span>
                </li>
            </ul>
            <div>
                <div progress-indicator="status.isLoading" class="{{mapSize}} {{mapClass}}" lp-responsive="lp-responsive" lp-on-resize="resized(width)">
                    <div gm-map="gm-map" gm-map-id="mapId" gm-center="map.center" gm-zoom="map.zoom" gm-map-options="options.map" class="map_canvas" gm-on-zoom-changed="onZoomChanged(map)">
                        <div gm-markers="gm-markers"
                             gm-objects="places"
                             gm-id="object.id"
                             gm-position="{ lat: object.location.latitude, lng: object.location.longitude }"
                             gm-marker-options="getMarkerOptions(object)"
                             gm-on-click="openInfoWindow(object, marker)"
                            ></div>
                    </div>
                </div>

                <div class="{{listSize}} {{listClass}}" progress-indicator="status.isLoading" >
                    <div places-list="places-list"
                         places-objects="places"
                         map-object="map"
                         filter-object="filters">
                    </div>
                </div>
            </div>

            <!-- Infowindow -->
            <div gm-info-window="infoWindow">
                <div class="infoBox">

                    <div class="row-fluid"><h4>{{place.name}}</h4></div>
                    <div class="row-fluid">{{place.address.streetAddress}}</div>
                    <div class="row-fluid">
                        <div class="span6">{{place.address.city}}, {{place.address.state}} {{place.address.zipCode}}</div>
                        <div class="span6">{{place.phoneNumber}}</div>
                    </div>

                    <table class="table table-hover table-condensed" ng-show="place.openingHours.periods.length > 0">
                        <tbody>
                        <tr ng-repeat="opening in place.openingHours.periods">

                            <td>{{opening.day}}</td><td class="opening-hours">{{opening.time}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row-fluid footer">
                        <a ng-href="{{place.map.directionUrl}}" target="_blank">Get directions</a>
                        <div ng-show="place.webSiteUrl" class="pull-right"><a ng-href="{{place.webSiteUrl}}" target="_blank">{{place.webSiteUrl}}</a></div>
                    </div>

                </div>
            </div>
            <!-- End InfoWindow -->
        </div>

    </div>

</div> <!-- END PlacesCtrl -->
