<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />

    <g:preferences>
        <g:preference name="accountsTopBalance" label="Top balance" type="select-one" viewhint="select-one,user,designModeOnly" default="current">
            <g:enumeration value="current" label="Current balance" />
            <g:enumeration value="available" label="Available balance" />
        </g:preference>
    </g:preferences>
</head>

<body g:onload="requireWidget(__WIDGET__, 'scripts/main')" ng-controller="MainCtrl as mainCtrl" class="lp-transactions ng-cloak" ng-class="responsiveClass">
    <!--  Full Content -->


     <div class="lp-widget-content" role="application">
<h1>hellooo</h1>
        <!-- Alerts -->
        <div class="lp-alerts" ng-show="lpTransactions.errorCode || lpAccounts.error">
            <div class="alert alert-error">
                <p ng-show="lpTransactions.errorCode">
                    <span lp-i18n="{{lpTransactions.errorCode}} "></span>
                    <a ng-click="lpTransactions.loadTransactions()" class="alert-link" lp-i18n="Try again"></a>
                </p>
            </div>
        </div>

        <!--  Widget Head -->
        <div class="clearfix" ng-if="showAccountSelect">
            <div ng-if="lpAccounts.accounts.length === 0">
                <div class="panel-message" lp-i18n="No accounts available."></div>
            </div>

            <div
                lp-accounts-select="lp-accounts-select"
                ng-model="lpAccounts.selected"
                lp-accounts="lpAccounts.accounts"
                name="accountId"
                class="lp-accounts-header"
                ng-change="accountChanged()"></div>
        </div>

        <!--  Body Content -->
        <div class="lp-widget-body widget-body clearfix" ng-class="{ 'show-charts': showCharts, 'show-categories': showCategories}">
            <ul tabset="tabset" vertical="true" class="tabbable" id="transactions-tabs">
                <li tab="tab" select="selectTab('list')" active="tabs.list">
                    <div tab-heading="tab-heading">
                        <i title="List view" class="lp-icon lp-icon-list-view"></i>
                        <span class="sr-only">List</span>
                    </div>
                    <div
                        lp-transactions-list="lp-transactions-list"
                        lp-transactions="lpTransactions"
                        lp-accounts="lpAccounts"
                        lp-contacts="lpContacts"
                        lp-transactions-categories="lpTransactionsCategory"
                        show-categories="showCategories"></div>
                </li>
                <li tab="tab" select="selectTab('chart')" active="tabs.chart" ng-if="showCharts">
                    <div tab-heading="tab-heading">
                        <i title="Charts view" class="lp-icon lp-icon-line-chart-view"></i>
                        <span class="sr-only">Charts</span>
                    </div>
                    <div
                        lp-transactions-charts="lp-transactions-charts"
                        lp-accounts="lpAccounts"></div>
                </li>
                <li tab="tab" select="selectTab('combined')" active="tabs.combined" class="hide-small-widget" ng-if="showCharts">
                    <div tab-heading="tab-heading">
                        <i title="List and Charts view" class="lp-icon lp-icon-list-and-chart-view"></i>
                        <span class="sr-only">List and Charts</span>
                    </div>
                    <div class="row lp-transactions-combined">
                        <div class="col-md-12">
                            <div
                                lp-transactions-charts-horizontal="lp-transactions-charts-horizontal"
                                lp-accounts="lpAccounts"
                                horizontal="true"></div>
                        </div>
                        <div class="col-md-12">
                            <div
                                lp-transactions-list="lp-transactions-list"
                                lp-transactions="lpTransactions"
                                lp-accounts="lpAccounts"
                                lp-contacts="lpContacts"
                                lp-transactions-categories="lpTransactionsCategory"
                                show-categories="showCategories"></div>
                        </div>
                    </div>
                </li>
                <li tab="tab" select="selectTab('donut')" active="tabs.donut" class="hide-small-widget" ng-if="showCharts">
                    <div tab-heading="tab-heading">
                        <i title="List and Donut Chart view" class="lp-icon lp-icon-category-spendings-chart"></i>
                        <span class="sr-only">List and Donut Chart</span>
                    </div>
                    <div class="row lp-transactions-combined">
                        <div class="col-md-12">
                            <div lp-categories-spendings="lp-categories-spendings"></div>
                        </div>
                        <div class="col-md-12">
                            <div
                                lp-transactions-list="lp-transactions-list"
                                lp-transactions="lpTransactions"
                                lp-accounts="lpAccounts"
                                lp-contacts="lpContacts"
                                lp-transactions-categories="lpTransactionsCategory"
                                show-categories="showCategories"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="widget-footer">
            <button class="btn-primary btn pull-right" ng-click="transferMoney()">Transfer money</button>
        </div>
    </div>
</body>
</html>
