.category-spendings-chart {
	margin: 40px; 
}

.update {
	fill: #333;
}

.arc:hover, .arrow-group:hover {
	cursor: pointer;
}

.inner-circle {
	fill: #F6F2F1;
	fill-opacity: 0.9;
}

.historical-change-group.up {
	fill: #C3252C;
	stroke: #C3252C;
}

.historical-change-group.down {
	fill: #009180;
	stroke: #009180;
}

.historical-change-group #arrow-head {
	stroke: none;
}

.historical-change-group #arrow-line {
	fill: none;
	stroke-width: 3;
}

.historical-change-group .historical-change-factor {
	font-size: 18px;
	text-anchor: middle;
}

text {
	fill: #646158;
}

text.name {
	font-size: 20px;
	text-anchor: middle;
}

text.amount {
	font-size: 28px;
	font-weight: bold;
	text-anchor: middle;
}

text.total-fraction {
	font-size: 18px;
	text-anchor: middle;
}
