.portfolio-performance .header {
  height: 25px;
}
.portfolio-performance .gr {
  height: 265px;
}
.portfolio-performance h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 5px 15px 0;
}
.portfolio-performance .switch {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
}
.portfolio-performance .switch span {
  text-decoration: none;
  cursor: pointer;
  color: #abc0bb;
  padding-left: 5px;
}
.portfolio-performance .switch span.active {
  color: #000;
}
.portfolio-performance .axis path,
.portfolio-performance .axis line {
  fill: none;
  stroke: #000;
}
.portfolio-performance .axis text {
  fill: #4f6963;
}
.portfolio-performance .axis .domain {
  display: none;
}
.portfolio-performance .grid line {
  stroke-width: 1px;
  stroke: rgba(79, 105, 99, 0.15);
}
.portfolio-performance .grid text {
  font-size: .8em;
  fill: rgba(79, 105, 99, 0.6);
}
.portfolio-performance .line {
  fill: none;
  stroke: #13a581;
  stroke-width: 2px;
}
.portfolio-performance .dot {
  fill: #13a581;
  stroke: #fff;
}
.portfolio-performance .bars rect {
  fill: #17c59a;
}
.portfolio-performance .bars rect.negative {
  fill: #8eaaa3;
}
.portfolio-performance .tip-helpers rect {
  fill: transparent;
}
