<div class="modal-header">
	<h2><i class="lp-icon lp-icon-xxl lp-icon-info-sign"></i> <span lp-i18n="Exchange Rate"></span></h2>
</div>
<div class="modal-body" >
	<span lp-i18n="The used exchange rate is only provided for informational purposes and your transaction will be calculated against recent currency exchange rates. For more information on currency exchange rates, please click"></span> <a href="#" lp-i18n="here"></a>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="toggleExchangeRateModal()" lp-i18n="Close"></button>
</div>
