<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transactions Overview</title>
    <link rel="stylesheet" type='text/css' href="dist/styles/base.css"/>
    <link rel="stylesheet" href="/static/launchpad/modules/module-transactions-2/dist/styles/base.css" type="text/css" />
</head>

<body g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">
<!--  Full Content -->


<div ng-controller="MainCtrl as mainCtrl" class="lp-transactions-overview lp-transactions ng-cloak" ng-class="responsiveClass">


<div class="lp-widget-content" role="application">

    <!--  Body Content -->
    <div class="lp-widget-body widget-body clearfix" ng-class="{ 'show-charts': showCharts, 'show-categories': showCategories}">
        <ul tabset="tabset" vertical="true" class="tabbable" id="transactions-tabs" ng-class="{ 'hide-tabs': !showCharts }">
            <li tab="tab" select="selectTab('list')" active="tabs.list">
                <div tab-heading="tab-heading">
                    <i title="List view" class="lp-icon lp-icon-list-view"></i>
                    <span class="sr-only">List</span>
                </div>
                <div lp-transactions-search="lp-transactions-search"
                        accounts="lpAccounts"
                        contacts="lpContacts"
                        transactions-categories="lpTransactionsCategory"
                        on-perform-search="onPerformSearch(filters)"
                        on-clear-search="onClearSearch()"
                        on-update-search="onUpdateSearch()"
                        on-change-sort="onChangeSort(value)"></div>
                <div
                        lp-transactions-authorizations-list="lp-transactions-authorizations-list"
                        lp-accounts="lpAccounts"
                        lp-transactions-categories="lpTransactionsCategory"
                        category-layout="categoryLayout"
                        show-categories="showCategories"></div>
                <div
                        lp-transactions-list="lp-transactions-list"
                        lp-transactions="lpTransactions"
                        lp-accounts="lpAccounts"
                        lp-transactions-categories="lpTransactionsCategory"
                        category-layout="categoryLayout"
                        show-categories="showCategories"
                        show-dates-all-transactions="showDatesAllTransactions"
                        hide-details-preference="hideDetailsPreference"
                        ng-class="{ 'preview-all': previewAll }"></div>
            </li>
            <li tab="tab" select="selectTab('chart')" active="tabs.chart" ng-if="showCharts">
                <div tab-heading="tab-heading">
                    <i title="Charts view" class="lp-icon lp-icon-line-chart-view"></i>
                    <span class="sr-only">Charts</span>
                </div>
                <div
                        lp-transactions-charts="lp-transactions-charts"
                        lp-accounts="lpAccounts"></div>
            </li>
            <li tab="tab" select="selectTab('combined')" active="tabs.combined" class="hide-small-widget" ng-if="showCharts">
                <div tab-heading="tab-heading">
                    <i title="List and Charts view" class="lp-icon lp-icon-list-and-chart-view"></i>
                    <span class="sr-only">List and Charts</span>
                </div>
                <div class="row lp-transactions-combined">
                    <div class="col-md-12">
                        <div
                                lp-transactions-charts-horizontal="lp-transactions-charts-horizontal"
                                lp-accounts="lpAccounts"
                                horizontal="true"></div>
                    </div>
                    <div class="col-md-12">
                        <div lp-transactions-search="lp-transactions-search"
                            accounts="lpAccounts"
                            contacts="lpContacts"
                            transactions-categories="lpTransactionsCategory"
                            on-perform-search="onPerformSearch(filters)"
                            on-clear-search="onClearSearch()"
                            on-update-search="onUpdateSearch()"
                            on-change-sort="onChangeSort(value)"></div>
                        <div
                                lp-transactions-list="lp-transactions-list"
                                lp-transactions="lpTransactions"
                                lp-accounts="lpAccounts"
                                lp-transactions-categories="lpTransactionsCategory"
                                category-layout="categoryLayout"
                                show-categories="showCategories"
                                show-dates-all-transactions="showDatesAllTransactions"
                                hide-details-preference="hideDetailsPreference"></div>
                    </div>
                </div>
            </li>
            <li tab="tab" select="selectTab('donut')" active="tabs.donut" class="hide-small-widget" ng-if="showCharts">
                <div tab-heading="tab-heading">
                    <i title="List and Donut Chart view" class="lp-icon lp-icon-category-spendings-chart"></i>
                    <span class="sr-only">List and Donut Chart</span>
                </div>
                <div class="row lp-transactions-combined">
                    <div class="col-md-12">
                        <div lp-categories-spendings="lp-categories-spendings"></div>
                    </div>
                    <div class="col-md-12">
                        <div lp-transactions-search="lp-transactions-search"
                            accounts="lpAccounts"
                            contacts="lpContacts"
                            transactions-categories="lpTransactionsCategory"
                            on-perform-search="onPerformSearch(filters)"
                            on-clear-search="onClearSearch()"
                            on-update-search="onUpdateSearch()"
                            on-change-sort="onChangeSort(value)"></div>
                        <div
                                lp-transactions-list="lp-transactions-list"
                                lp-transactions="lpTransactions"
                                lp-accounts="lpAccounts"
                                lp-transactions-categories="lpTransactionsCategory"
                                category-layout="categoryLayout"
                                show-categories="showCategories"
                                show-dates-all-transactions="showDatesAllTransactions"
                                hide-details-preference="hideDetailsPreference"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</body>
</html>
