<div lp-field=""
     label="{{ 'Payee' | translate }}"
     tip="{{ 'Enter payee name' | translate }}"
     ng-class="{ 'has-error' : (ConnectForm.submitted || ConnectForm.payeeName.$dirty) && (ConnectForm.payeeName.$error.required || ConnectForm.payeeName.$invalid) }">
    <input class="form-control" type="text"
           name="payeeName"
           aria-label="{{ 'Payee name' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.name"
           ng-pattern="/^[a-zA-Z0-9_ ]*$/"
           required="true"/>
</div>

<div lp-field=""
     label="{{ 'Account number' | translate }}"
     tip="{{ 'Account number of the vendor' | translate }}"
     help="{{mainCtrl.bpModel.currentBiller.debtorAccountHint}}">
    <input class="form-control" type="text"
           aria-label="{{ 'Account number' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.account"/>
</div>

<div lp-field=""
     label="{{ 'Address Line 1' | translate }}"
     tip="{{ 'Enter address line 1' | translate }}"
     ng-class="{ 'has-error' : (ConnectForm.submitted || ConnectForm.addressLine.$dirty) && ConnectForm.addressLine.$error.required }">
    <input name="addressLine" class="form-control" type="text"
           aria-label="{{ 'Address Line 1' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.address.addressLine"
           required="true"/>
</div>

<div lp-field=""
     label="{{ 'Address Line 2' | translate }}"
     tip="{{ 'Enter address line 2' | translate }}">
    <input name="addressLine2"
           class="form-control" type="text"
           aria-label="{{ 'Address Line 2' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.address.addressLine2"/>
</div>

<div lp-field=""
     label="{{ 'City' | translate }}"
     ng-class="{ 'has-error' : (ConnectForm.submitted || ConnectForm.city.$dirty) && ConnectForm.city.$error.required }">
    <input name="city"
           class="form-control" type="text"
           aria-label="{{ 'City' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.address.city"
           required="true"/>
</div>

<div lp-field=""
     label="{{ 'State' | translate }}"
     ng-class="{ 'has-error' : (ConnectForm.submitted || ConnectForm.state.$dirty) && ConnectForm.state.$error.required }">
    <input name="state"
           class="form-control" type="text"
           aria-label="{{ 'State' | translate }}"
           ng-model="mainCtrl.bpModel.currentBiller.address.state"
           required="true"/>
</div>

<div lp-field=""
     label="{{ 'Zip Code' | translate }}"
     tip="{ 'Area code of your provider' | translate }}"
     ng-class="{ 'has-error' : (ConnectForm.submitted || ConnectForm.zipCode.$dirty) && ConnectForm.zipCode.$error.required }">
    <input name="zipCode"
           class="form-control" type="text"
           aria-label="{{ 'Zip Code' | translate }}}}"
           ng-model="mainCtrl.bpModel.currentBiller.address.zip"
           required="true"/>
</div>
