<div ng-controller="ListController as listCtrl">

    <div class="lists">

        <div ng-if="listCtrl.loading">
            <div class="panel-message loading-panel" role="alert">
                <i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
                <span class="sr-only" lp-i18n="Busy"></span>
            </div>
        </div>


        <div lp-template="templates/empty.ng.html"></div>

        <div  ng-if="listCtrl.sharedData.accountsExists() && !listCtrl.error">
            <div class="col-xs-12 controls">
                <button class="btn btn-primary col-xs-12 col-md-4 pull-right"
                        ng-click="listCtrl.add()">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ 'Add External Account' | translate }}
                </button>
            </div>
            <div class="col-xs-12">
                <div account-group
                     header="Awaiting Confirmation"
                     list-items="listCtrl.sharedData.accounts[listCtrl.accStatus.PENDING]">
                </div>
                <div account-group
                     header="Processing"
                     list-items="listCtrl.sharedData.accounts[listCtrl.accStatus.PROCESSING]">
                </div>
                <div account-group
                     header="Active"
                     list-items="listCtrl.sharedData.accounts[listCtrl.accStatus.ACTIVE]">
                </div>
                <div account-group
                     header="Rejected/Disabled"
                     list-items="listCtrl.sharedData.accounts[listCtrl.accStatus.OTHER]">
                </div>
            </div>
        </div>
    </div>
</div>
