<catalog>
    <widget>
        <name>e-bill-history</name>
        <contextItemName>[BBHOST]</contextItemName>
        <extendedItemName>widget-launchpad-base</extendedItemName>
        <properties>
            <property label="Icon" name="icon" viewHint="text-input,user,designModeOnly">
                <value type="string">e-bill</value>
            </property>
            <property label="Title" name="title" viewHint="user,text-input,designModeOnly">
                <value type="string">EBill - History</value>
            </property>
            <property name="thumbnailUrl">
                <value type="string">/launchpad/widgets/ebill-history/media/icon.png</value>
            </property>
            <property name="src">
                <value type="string">/launchpad/widgets/ebill-history/index.html</value>
            </property>
            <property name="debitOrdersSrc" viewHint="admin,text-input,designModeOnly" label="Debit-Orders Data Source">
                <value type="string">$(servicesPath)/services/rest/v1/debit-orders</value>
            </property>
            <property name="mandatesSrc" viewHint="admin,text-input,designModeOnly" label="Mandates Data Source">
                <value type="string">$(servicesPath)/services/rest/v1/mandates</value>
            </property>
        </properties>
        <tags>
            <tag type="regular">ebilling</tag>
            <tag type="section">banking</tag>
            <tag type="behavior">e-bill</tag>
        </tags>
    </widget>
</catalog>
