<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile - Summary</title>
    <link rel="stylesheet" type='text/css' href="dist/styles/base.css"/>
</head>
<body g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">
    <div ng-controller="profileSummaryController" class="lp-profile-summary widget widget-default ng-cloak clearfix" lp-responsive="lp-responsive" on-size-change="onSizeChange(size)" size-rules="responsiveRules">
        <div class="lp-widget-content widget-body panel-body no-min-height clearfix">

            <div class="media">
                <div ng-class="{'pull-left': responsive !== 'xs'}">
                    <img height="42" width="42" ng-if="model.photo" ng-src="{{model.photo}}"/>
                    <div ng-if="!model.photo" profile-image="profile-image" fullname="{{model.preferredName}}" size="42" color="#CCC"></div>
                </div>
                <div class="media-body">
                    <div class="hide-xs-widget">
                        <h4 class="light-font" lp-i18n="Welcome"></h4>
                        <div ng-if="!profileLink">
                            <span class="h4 display-block"><strong>{{model.preferredName}}</strong></span>
                            <div lp-last-login="model.lastLoginDateTime" ng-if="lastLoginDateTimeShow" hide-after="lastLoginDateTimeHideAfter"></div>
                        </div>
                        <div ng-if="profileLink">
                            <a name="myProfile" class="h4 btn-link display-block lp-profile-summary-username" ng-click="viewProfile()">
                                <span>{{model.preferredName}}</span>
                            </a>
                            <div lp-last-login="model.lastLoginDateTime" ng-if="lastLoginDateTimeShow" hide-after="lastLoginDateTimeHideAfter"></div>
                            <button type="button" class="btn btn-link btn-sm no-padding" ng-click="viewProfile()" lp-i18n="View profile"></button>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-link no-padding" href="#" ng-click="logout()">
                        <i class="lp-icon lp-icon-icon-logout hide-xs-widget"></i> <span lp-i18n="Logout"></span>
                    </button>
                </div>
            </div>


        </div>
    </div>
</body>
</html>
