.introduction {
	height: 140px;
	background-color: #373A42  ;
	background-image: url('../media/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1px;
}

.introduction-text {
	margin-top: 20px !important;
	color: #FFF;
	padding: 1px 10px 10px 10px;
}

.feature-container {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.feature {
	background-color: #FFF;
	border: 1px solid #DDD;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.feature-icon {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	color: #FFF;
	font-size: 18px;
	margin-top: 10px;
	padding-top: 2px;
}