<div class="lp-securemessaging">
    <div class="lp-widget-content widget widget-default" role="application">

        <!--  Alerts -->
        <div class="lp-alerts">
            <div alert="alert" class="alert alert-dismissible"
                ng-repeat="alert in alerts.list()"
                type="{{ alert.type }}"
                close="alerts.close()">
                <span lp-i18n="{{alert.msg}}"></span>
            </div>
        </div>

        <!--  Widget Head -->
        <div class="clearfix"></div>

        <!--  Body Content -->
        <div class="lp-widget-body widget-body">

            <div ng-include="templatesDir + 'message-none.html'"></div>

            <!-- Thread list container -->
            <div class="no-padding" ng-class="{ 'hidden-xs hidden-sm col-md-4 col-lg-4' : showSideContent(), 'col-xs-12 col-sm-12 col-md-12 col-lg-12' : !showSideContent() }">
                <!-- Curtain to hide message list when needed -->
                <div ng-class="{ 'curtain' : shared.editLetterInd }"></div>

                <!-- Create New Message control -->
                <div class="main-controls-container" ng-hide="shared.isInboxEmpty()">
                    <button class="btn btn-primary btn-sm glyphicon glyphicon-refresh" style="margin-right: 10px;"
                    ng-click="loadThreads(false);" ng-hide="shared.editLetterInd"
                    aria-label="Check for new messages">
                </button>
                <button name="new-message"
                    class="btn btn-primary btn-sm"
                    ng-class="{'glyphicon glyphicon-envelope' : showSideContent()}"
                    ng-click="createEditLetterAction();" ng-hide="shared.editLetterInd"
                    aria-label="Create a new message">
                        <span ng-show="!showSideContent()" lp-i18n="New message"></span>
                    </button>
                </div>

                <!-- *** Unread Threads *** -->
                <message-list title="Unread messages" items="shared.threads.unread"></message-list>
                <!-- *** Read Threads *** -->
                <message-list title="Read messages" items="shared.threads.read"></message-list>
                <!-- *** Draft Letters *** -->
                <message-list title="Draft messages" items="shared.draftLetters"></message-list>
                <!-- *** Archived Threads *** -->
                <message-list title="Archived messages" items="shared.threads.archived"></message-list>
                <!-- *** Sent Threads *** -->
                <message-list title="Sent messages" items="shared.threads.sent"></message-list>
            </div>

            <!-- Message content view-->
            <!-- TODO: Consider refactoring to controller, since it's not being reused -->
            <div ng-if="shared.selectedThread !== null">
                <message-content thread="shared.selectedThread" ></message-content>
            </div>

            <!-- Create/Edit Message View -->
            <div ng-if="shared.editLetterInd" ng-include="templatesDir + 'message-new.html'"></div>

        </div>
    </div>
</div>
