.portfolio-assets {
  overflow: hidden;
}
.portfolio-assets .gr {
  height: 270px;
  position: relative;
}
.portfolio-assets h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 15px 5px;
}
.portfolio-assets svg {
  cursor: pointer;
}
.portfolio-assets .axis text {
  fill: #4f6963;
}
.portfolio-assets .asset-0 {
  fill: #13a581;
  background: #13a581;
}
.portfolio-assets .asset-1 {
  fill: #16bc93;
  background: #16bc93;
}
.portfolio-assets .asset-2 {
  fill: #108e6f;
  background: #108e6f;
}
.portfolio-assets .asset-3 {
  fill: #16bc77;
  background: #16bc77;
}
.portfolio-assets .details {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
}
.portfolio-assets .details .line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ffffff;
}
.portfolio-assets .details table {
  height: 100%;
  width: 100%;
}
.portfolio-assets .details td {
  text-align: center;
  vertical-align: middle;
}
.portfolio-assets .details label {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: normal;
  width: 60px;
  position: relative;
  z-index: 1;
}
.portfolio-assets label {
  padding: 0 5px;
  margin-right: 3px;
}
.portfolio-assets .legend label {
  margin-left: 10px;
  height: 9px;
  position: relative;
  top: 5px;
}
