
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

.lp-springboard-area-maximized .ui-resizable-handle {
	display: none;
}

.lp-springboard-container {
	position: relative;
	margin-bottom: 10px;
	outline-offset: 0 !important;
}
.lp-springboard-container::-webkit-scrollbar {
	width: 15px;
}
.lp-springboard-container::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #CCC;
	-webkit-box-shadow: inset 0 0 0 4px #EFEFEF;
}
.lp-springboard-container::-webkit-scrollbar-track {
	background: #EFEFEF;
}
.lp-springboard {
	position: relative;
	z-index: 0;
	overflow: visible;
	left: 0;
	right: -20px;
}
.lp-springboard .panel-widget {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.lp-springboard .ui-resizable-resizing .lp-springboard-area {
	z-index: 2;
}
.lp-springboard .lp-widget-control-restore,
.lp-springboard .lp-widget-control-maximize {
	display: none;
}
.lp-springboard .lp-widget-control-maximize,
.lp-springboard .lp-springboard-widget-maximized .lp-widget-control-restore {
	display: block;
}
.lp-springboard .lp-springboard-widget-maximized .lp-widget-control-maximize {
	display: none;
}
.lp-springboard .lp-springboard-widget-maximized .lp-springboard-tile-chrome {
	display: none;
}
.lp-springboard .lp-springboard-tile-chrome {
	display: none;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-widget-body {
	overflow: hidden;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-widget-title,
.lp-springboard .lp-springboard-smallcell .lp-springboard-widget-live .lp-widget-control-maximize {
	display: none;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
	background: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	min-height: 40px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-transition: background 0.08s;
	-moz-transition: background 0.08s;
	-o-transition: background 0.08s;
	transition: background 0.08s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1em;
	color: #777777;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome a {
	color: #777777;
	-webkit-transition: all 0.08s;
	-moz-transition: all 0.08s;
	-o-transition: all 0.08s;
	transition: all 0.08s;
	display: block;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome a .lp-launcher-tab-arrow i {
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	color: #333333;
	color: inherit;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome:hover {
	background: #ebebeb;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome:hover a {
	color: #515151;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome:active {
	background: #d2d2d2;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome:active a {
	color: #000000;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active {
	background: #f8f8f8;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active a {
	color: #555555;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:hover {
	background: #ebebeb;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:hover a {
	color: #6f6f6f;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:hover a .lp-launcher-tab-arrow .lp-icon-angle-right {
	color: #6f6f6f;
	margin-right: -2px;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:hover a .lp-launcher-tab-arrow .lp-icon-angle-right:before {
	content: "\e65b";
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:active {
	background: #dfdfdf;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome.active:active a {
	color: #222222;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome .lp-launcher-tab-icon {
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	color: #333333;
	font-family: 'lp-icons';
	color: inherit;
	display: inline-block;
	width: 36px;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome .lp-launcher-tab-icon .lp-icon {
	margin: 0 7px 0 10px;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-tile-chrome .lp-springboard-tile-icon {
	font-size: 70px;
	line-height: 70px;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome:active {
	background: #d2d2d2 !important;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome .lp-springboard-tile-icon,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome:active .lp-springboard-tile-icon,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome .lp-springboard-tile-title,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome:active .lp-springboard-tile-title,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome .lp-springboard-tile-icon:active,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome:active .lp-springboard-tile-icon:active,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome .lp-springboard-tile-title:active,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:active .lp-springboard-tile-chrome:active .lp-springboard-tile-title:active {
	color: #2b2b2b !important;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome:active {
	background: #d2d2d2 !important;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome:active .lp-springboard-tile-icon,
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome:active .lp-springboard-tile-title,
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome:active .lp-springboard-tile-icon:active,
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome:active .lp-springboard-tile-title:active {
	color: #2b2b2b !important;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome .lp-springboard-tile-icon:active,
.lp-springboard .lp-springboard-smallcell .bp-widget-head .lp-springboard-tile-chrome .lp-springboard-tile-title:active {
	color: #777777 !important;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome:hover {
	background: #ebebeb;
}
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome .lp-springboard-tile-icon,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome:hover .lp-springboard-tile-icon,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome .lp-springboard-tile-title,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome:hover .lp-springboard-tile-title,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome .lp-springboard-tile-icon:hover,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome:hover .lp-springboard-tile-icon:hover,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome .lp-springboard-tile-title:hover,
.lp-springboard .lp-springboard-smallcell .bp-widget-head:hover .lp-springboard-tile-chrome:hover .lp-springboard-tile-title:hover {
	color: #515151;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-widget-body-wrap {
	display: none;
}
.lp-springboard .lp-springboard-smallcell .lp-springboard-widget-head {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	float: none;
	width: 100%;
	height: 100%;
	z-index: 11;
	background: none;
}
.lp-springboard .lp-springboard-widget {
	position: relative;
	height: 100%;
}
.lp-springboard .lp-springboard-widget-head {
	width: 100%;
	height: 26px;
	line-height: 26px;
	position: relative;
}
.lp-springboard .lp-springboard-widget-head .lp-widget-controls {
	right: 0;
	height: 26px;
	line-height: 26px;
}
.lp-springboard .lp-springboard-widget-head .lp-widget-controls li {
	vertical-align: top;
}
.lp-springboard .lp-springboard-widget-body-wrap {
	position: absolute;
	top: 26px;
	bottom: 0;
	width: 100%;
	border: 1px solid #efefef;
	border-top: 0;
	background-color: #ffffff;
}
.lp-springboard .lp-springboard-widget-body {
	height: 100%;
	overflow: auto;
}
.lp-springboard .lp-springboard-area-holder {
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.lp-springboard .lp-springboard-area-holder.ui-resizable-resizing {
	z-index: 2;
}
.lp-springboard-area-maximized {
	z-index: 2;
}
.lp-springboard-area .bp-widget.lp-springboard-widget-maximized,
.lp-springboard-widget.lp-springboard-widget-maximized {
	border-color: #c4c4c4 !important;
}
.lp-tile-size .lp-widget-content {
	display: none!important;
}
.lp-springboard-drag .lp-springboard-occupied .lp-springboard-area {
	outline: none;
}
.lp-springboard-drag .lp-springboard-occupied .bp-drag-indicator[style] {
	display: none !important;
}
.lp-springboard-drag .lp-springboard-area {
	outline: 1px dashed #ccc;
}
.lp-springboard-container .lp-chrome-blank {
	width: 100%;
	height: 100%;
	background: #fff;
}
.lp-springboard-container .lp-chrome-blank .bp-widget-body {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.lp-springboard-add {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -45px;
}
.lp-springboard-widget-live .lp-widget-controls .lp-widget-control-minimize {
	display: none;
}
.lp-springboard-widget-maximized .lp-widget-controls .lp-widget-control-close {
	display: none;
}
.lp-springboard-chrome .bp-ui-dragGrip {
	cursor: default;
}
.lp-springboard-widget-maximized .lp-springboard-widget-title,
.lp-springboard-widget-live .lp-springboard-widget-title {
	width: 100%;
	text-align: center;
	position: absolute;
}
.lp-springboard-widget-maximized .lp-springboard-widget-head .lp-springboard-tile-title,
.lp-springboard-widget-live .lp-springboard-widget-head .lp-springboard-tile-title {
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	color: #333333;
	color: #777777;
}
.lp-springboard-widget-maximized .lp-springboard-widget-head .lp-widget-control,
.lp-springboard-widget-live .lp-springboard-widget-head .lp-widget-control {
	width: 20px;
	overflow: hidden;
	padding: 0;
}
.lp-springboard-widget-maximized .lp-springboard-widget-head .lp-icon-cross,
.lp-springboard-widget-live .lp-springboard-widget-head .lp-icon-cross {
	font-size: 15px;
	top: 2px;
}
.lp-springboard-widget-maximized .lp-springboard-widget-head .lp-icon-arrow-up-right,
.lp-springboard-widget-live .lp-springboard-widget-head .lp-icon-arrow-up-right,
.lp-springboard-widget-maximized .lp-springboard-widget-head .lp-icon-arrow-down-left,
.lp-springboard-widget-live .lp-springboard-widget-head .lp-icon-arrow-down-left {
	font-size: 11px;
}
.lp-springboard-widget-maximized .lp-springboard-widget-head {
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	color: #333333;
}
.lp-springboard-manageable .lp-springboard-smallcell {
	cursor: pointer;
}
.lp-springboard-smallcell.lp-springboard-occupied,
.lp-springboard-smallcell.lp-springboard-occupied:hover {
	background: 0 none;
	cursor: default;
}
.lp-springboard-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 5px;
	background-color: #f3f3f3;
}

/* owerwrite cxp margins */
.bd-designMode-true .lp-springboard-area,
.bd-designMode-true .user-dragging-help .lp-springboard-area {
	padding: 0;
	margin: 5px;
	margin-top: 25px;
}
.user-dragging-help .lp-springboard-manageable .bp-widget {
	margin: 0;
}

.lp-springboard-manageable .lp-springboard-area {
	background: url('../media/white-add.png') no-repeat center center #f3f3f3;
}
.lp-springboard-manageable .lp-springboard-area:hover {
	background: url('../media/grey-add.png') no-repeat center center #eeeeee;
}
.lp-springboard-area.lp-springboard-occupied,
.lp-springboard-area.lp-springboard-occupied:hover {
	background: 0 none;
	cursor: default;
}
.lp-springboard-area .panel {
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
}
.lp-springboard-area .panel-chrome .lp-widget-head {
	height: 36px;
	line-height: 36px;
	padding: 0 12px;
}
.lp-springboard-area .panel-chrome .lp-widget-title {
	float: left;
}
.lp-springboard-area .panel-chrome .lp-widget-control {
	float: right;
	height: 36px;
	line-height: 40px;
	padding-left: 8px;
}
.lp-springboard-area-maximized .lp-springboard-area {
	right: 0;
}
.lp-springboard .lp-animating .lp-springboard-widget-head .lp-widget-controls {
	display: none!important;
}
.lp-animating .lp-springboard-tile-chrome,
.lp-animating .lp-springboard-tile-chrome:hover {
	background: #f8f8f8 !important;
}
.lp-animating .lp-springboard-tile-title,
.lp-animating .lp-springboard-tile-title:hover,
.lp-animating .lp-springboard-tile-icon,
.lp-animating .lp-springboard-tile-icon:hover {
	color: #777777 !important;
}
.lp-springboard-widget-title:focus,
.lp-springboard-tile-chrome:focus,
.lp-springboard .lp-springboard-tile-chrome .lp-widget-control:focus,
.lp-springboard .lp-springboard-widget-head .lp-widget-control:focus {
	outline: 1px solid rgba(102, 175, 233, 0.55);
	outline-offset: -1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

