<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/bower_components/theme/themes/default/css/base.css" type="text/css" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="bower_components/config/requirejs.conf.js"></script>

    <script>
    // adding a mock for Core Util Portal functions
    window.b$ = { 'portal': { 'portalView': null } };

    require(['base'], function (base) {

        var __WIDGET__ = {
            body:  document.body,
            addEventListener: function() {},
            getPreferenceFromParents: function(name) {
                switch (name) {
                    default:
                        return '';
                    break;
                }
            },
            getPreference: function(name){
                switch(name){
                    case 'profileLink':
                        return '';
                    break;
                    case 'preferenceService':
                        return '$(servicesPath)/services/rest/v1/party-data-management/preferences';
                    break;
                    case 'lastLoginDateTimeShow':
                        return true;
                    break;
                    case 'lastLoginDateTimeHideAfter':
                        return 0;
                    break;
                    default:
                        return '';
                    break;
                }
            }
        }
        base.requireWidget(__WIDGET__ , 'scripts/main');

    });
    </script>

</head>
<body>
    <div ng-controller="profileSummaryController" class="lp-profile-summary widget widget-default ng-cloak clearfix" lp-responsive="lp-responsive" on-size-change="onSizeChange(size)" size-rules="responsiveRules">
        <div class="lp-widget-content widget-body panel-body no-min-height clearfix">

            <div class="media">
                <div ng-class="{'pull-left': responsive !== 'xs'}">
                    <img height="42" width="42" ng-if="model.photo" ng-src="{{model.photo}}"/>
                    <div ng-if="!model.photo" profile-image="profile-image" fullname="{{model.preferredName}}" size="42" color="#CCC"></div>
                </div>
                <div class="media-body">
                    <div class="hide-xs-widget">
                        <h4 class="light-font" lp-i18n="Welcome"></h4>
                        <div ng-if="!profileLink">
                            <span class="h4 display-block"><strong>{{model.preferredName}}</strong></span>
                            <div lp-last-login="model.lastLoginDateTime" hide-after="lastLoginDateTimeHideAfter"></div>
                        </div>
                        <div ng-if="profileLink">
                            <a name="myProfile" class="h4 btn-link display-block lp-profile-summary-username" ng-click="viewProfile()">
                                <span>{{model.preferredName}}</span>
                            </a>
                            <div lp-last-login="model.lastLoginDateTime" hide-after="lastLoginDateTimeHideAfter"></div>
                            <button type="button" class="btn btn-link btn-sm no-padding" ng-click="viewProfile()" lp-i18n="View profile"></button>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-link no-padding" href="#" ng-click="logout()">
                        <i class="lp-icon lp-icon-icon-logout hide-xs-widget"></i> <span lp-i18n="Logout"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
