<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Profile-Portfolio</title>

        <link rel="stylesheet" type='text/css' href="dist/styles/base.css" />


    </head>
    <body class="lp-portfolio" g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">
        <div ng-controller="portfolioController" class="ng-cloak">

             <!--  Full Content -->
             <div class="lp-widget-content widget-body panel-body"  progress-indicator="isLoading">

                <!--  Alerts -->
                <div class="lp-alerts">
                    <div class="lp-portfolio-error" ng-cloak="" ng-if="errorCode !== null" lp-i18n="{{errorText}}"></div>
                </div>

                <!-- list of products -->
                <div ng-repeat="prod in products" class="col-xs-12 col-sm-12 col-md-8">
                    <div class="panel panel-default lp-widget-content">
                        <div class="panel-heading">{{prod.product}}</div>
                        <div class="panel-body no-padding lp-widget-body lp-portfolio-product">
                            <!--Product Properties -->
                            <div class="lp-portfolio-product-detail row clearfix" ng-repeat="cond in prod.conditions">
                                <div class="col-sm-5">
                                    <span class="text-muted"><span lp-i18n="{{cond.name}}"></span>:</span>
                                </div>
                                <div class="col-sm-7" ng-switch="cond.type">
                                    <div ng-switch-when="list">
                                        <div ng-repeat="entry in cond.value">
                                            <span>{{entry}}</span>
                                        </div>
                                    </div>
                                    <div ng-switch-when="currency">
                                        <span lp-amount="cond.value" lp-amount-currency=""></span>
                                    </div>
                                    <div ng-switch-when="percent">
                                        <span ng-bind="cond.value"></span>%
                                    </div>
                                    <div ng-switch-default="">
                                        <span>{{cond.value}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product related links -->
                    <div ng-if="prod.links" class="lp-product-related-links clearfix">
                        <div ng-repeat="link in prod.links">
                            <a ng-href="{{link.uri}}"><span lp-message="link.rel" lp-bundle="messages"></span></a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

