<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Transfer</title>

	<g:preferences>
		<g:preference name="accountsTopBalance" label="Top balance" type="select-one" viewhint="select-one,user,designModeOnly" default="current">
			<g:enumeration value="current" label="Current balance" />
			<g:enumeration value="available" label="Available balance" />
		</g:preference>
	</g:preferences>

	<link rel="stylesheet" type='text/css' href="dist/styles/base.css" />

</head>
<body class="lp-new-transfer" g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">

<div class="ng-cloak lp-widget-body widget-body" ng-controller="NewTransferController" ng-class="responsiveClass">

<!-- Change Layout for Update purposes -->
<div lp-transaction-update-layout="paymentOrder"></div>

<!--  Full Content -->
<div class="lp-widget-content">

<!--  Alerts -->
<div class="lp-alerts" lp-focus-on="lp.retail.new-transfer.errors" tabindex="-1">
	<div class="alert alert-danger" ng-show="accountsModel.error || paymentOrderModel.error || p2pService.error">
		<p ng-show="paymentOrderModel.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-i18n="messages.{{paymentOrderModel.error}}"></span></p>
		<p ng-show="accountsModel.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-i18n="messages.{{accountsModel.error}}"></span></p>
		<p ng-show="p2pService.error"><i class="lp-icon lp-icon-alert-error"></i> <span lp-i18n="messages.{{p2pService.error}}"></span></p>
	</div>
	<div class="alert alert-warning" ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.$invalid">
		<p ng-show="paymentOrderForm.submitted &amp;&amp; !accountsModel.selected"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredUserAccount"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.counterpartyAccount.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredAccount"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpCurrencyFormat"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidAmount"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpAmountRequired"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredAmount"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.instructedAmount.$error.lpCurrencyMaxLength"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.maxlengthAmount"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.counterpartyName.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredName"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.bank &amp;&amp; paymentOrderForm.counterpartyIban.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredAccount"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; accountsModel.selected &amp;&amp; !paymentOrderForm.counterpartyIban.$error.required &amp;&amp; paymentOrderForm.counterpartyIban.$error.notEqual"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.notEqualAccount"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; !paymentOrderForm.counterpartyIban.$error.required &amp;&amp; paymentOrder.type === poTypeEnum.bank &amp;&amp; paymentOrderForm.counterpartyIban.$error.validIban"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidIban"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrderForm.counterpartyReference &amp;&amp; paymentOrderForm.counterpartyReference.$error.validRef"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidRef"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; !paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.scheduleDate.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredDate"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; !paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.scheduleDate.$error.date"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidDate"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; !paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.scheduleDate.$error.lpFutureTime"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.futureDate"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.startDate.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredStartDate"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.startDate.$error.date"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidStartDate"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.startDate.$error.lpFutureTime"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.futureStartDate"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.endDate.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.requiredEndDate"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.endDate.$error.date"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.invalidEndDate"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.endDate.$error.lpFutureTime"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.futureEndDate"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.timesToRepeat.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.timesToRepeatRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.timesToRepeat.$error.nonZero"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.timesToRepeatNonZero"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.repeatEvery.$error.required"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.repeatEveryRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.repeatEvery.$error.nonZero"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.repeatEveryNonZero"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.scheduledTransfer.$error.intervalsRequired"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.intervalRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.isScheduledTransfer &amp;&amp; paymentOrderForm.scheduledTransfer.$error.endDateBeforeStartDate"><i class="lp-icon lp-icon-alert-warning"></i> <span lp-i18n="messages.endDateBeforeStartDate"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; usTransfer &amp;&amp; paymentOrderForm.counterpartyAccount.$error.accountNumberConfirmed"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.accountConfirmRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; usTransfer &amp;&amp; paymentOrderForm.counterpartyAccount.$error.accountNumberRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.accountNumberRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; usTransfer &amp;&amp; paymentOrderForm.counterpartyAccount.$error.invalidRoutingNumber"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.invalidRoutingNumber"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; usTransfer &amp;&amp; paymentOrderForm.counterpartyAccount.$error.routingNumberRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.routingNumberRequired"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pEmail &amp;&amp; paymentOrderForm.counterpartyEmail.$error.emailRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.emailAddressRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pEmail &amp;&amp; paymentOrderForm.counterpartyEmail.$error.validEmailRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.validEmailAddressRequired"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pEmail &amp;&amp; !userEnrolledForP2P &amp;&amp; paymentOrderForm.p2pEnrollment.$error.validEmailRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.p2pEnrollmentEmailRequired"></span></p>
        <p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pEmail &amp;&amp; !userEnrolledForP2P &amp;&amp; paymentOrderForm.p2pEnrollment.$error.p2pAccountRequired"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.p2pEnrollmentAccountRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pEmail &amp;&amp; !userEnrolledForP2P &amp;&amp; paymentOrderForm.p2pEnrollment.$error.termsAndConditions"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.p2pEnrollmentAgreeWithTerms"></span></p>

		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pAddress &amp;&amp; paymentOrderForm.counterpartyAddress.$error.addressLineOne"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.addressLineOneRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pAddress &amp;&amp; paymentOrderForm.counterpartyAddress.$error.addressCity"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.addressCityRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pAddress &amp;&amp; paymentOrderForm.counterpartyAddress.$error.addressState"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.addressStateRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pAddress &amp;&amp; paymentOrderForm.counterpartyAddress.$error.addressZip"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.addressZipRequired"></span></p>
		<p ng-show="paymentOrderForm.submitted &amp;&amp; paymentOrder.type === poTypeEnum.p2pAddress &amp;&amp; paymentOrderForm.counterpartyAddress.$error.addressValidZip"><i class="lp-icon lp-icon-alert-warning"></i><span lp-i18n="messages.addressValidZip"></span></p>

	</div>

</div>

<!--  Widget Head -->
<div class="clearfix" role="application">
	<div ng-show="accountsModel.accounts.length > 0">
		<div lp-accounts-select="lp-accounts-select" ng-model="accountsModel.selected" lp-accounts="accountsModel.accounts" name="accountId" ng-change="onAccountChange()"></div>
	</div>
</div>

<!-- Dialogs-->
<div modal-dialog="" show="urgentTransferModalShown" closable="false">
	<div data-ng-include="templates.urgentTransfer"></div>
</div>
<div modal-dialog="" show="showContactsOptions" closable="false">
	<div data-ng-include="templates.saveContacts"></div>
</div>
<div modal-dialog="" show="exchangeRateModalShown" closable="false">
	<div data-ng-include="templates.exchangeRate"></div>
</div>
<div modal-dialog="" show="ibanModalShown" closable="false">
	<div data-ng-include="templates.iban"></div>
</div>
<div modal-dialog="" show="routingModalShown" closable="false">
	<div data-ng-include="templates.routingAndAccount"></div>
</div>

<div modal-dialog="" show="modalShown" closable="true" isIce="true">
	<g:include proxy="false" src="$(contextRoot)/contenttemplates/rendered">
		<g:http-preference-param-map dataType="contentRef" />
		<g:http-preference-param-map dataType="linkRef" />
		<g:http-param name="title" value="${title}" />
		<g:http-param name="templateUrl" value="${templateUrl}" />
	</g:include>
</div>
<!--  Body Content -->
<form name="paymentOrderForm" novalidate="" class="form form-horizontal" ng-class="{'submitted':paymentOrderForm.submitted}" ng-submit="submitForm()">
	<div class="form-contents" role="application">
		<input type="hidden" name="uuid" ng-model="paymentOrder.uuid" />
		<div class="clearfix">
			<div class="col-xs-12 col-sm-12 col-md-5">
				<div class="col-xs-12">
					<div class="form-group">

						<div lp-currency-amount-input="lp-currency-amount"
							 ng-model="paymentOrder.instructedAmount"
							 lp-currency-list="currencyModel"
							 lp-payment-order="paymentOrder"
							 lp-disable-currency-selection="disableCurrencySelection"
							 name="instructedAmount"
							 required="required"
							 modal="toggleExchangeRateModal">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7">
				<div class="col-xs-12">
					<div class="form-group">
						<div counter-party-filter="counter-party-filter" ng-model="paymentOrder.counterpartyName"
						   name="counterpartyName"
						   lp-contacts="contactsModel.contacts"
						   lp-accounts="accountsModel.accounts"
						   on-select="updateCounterparty"
						></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">

			<div class="col-xs-12 col-sm-12 col-md-7 lp-payment-method-tabs pull-right">
				<div class="lp-payment-method-tab-area">
					<ul tabset="tabset">
						<li tab="tab" active="activeTransferTab.bank" select="setPaymentOrderType(poTypeEnum.bank)">
							<span tab-heading="tab-heading" class="tab-heading" lp-i18n="Account Number"></span>
							<div ng-switch="usTransfer" class="col-xs-12">
								<div ng-switch-when="false" class="form-group">
									<div lp-iban-input="lp-iban-input"
										 ng-model="paymentOrder.counterpartyIban"
										 lp-transfer-type="paymentOrder.type"
										 lp-country-list="ibanModel"
										 name="counterpartyIban"
										 required="required"
										 aria-required="true">
									</div>
									<span class="lp-iban-info text-muted">
										<span lp-i18n="How an IBAN number is structured"></span>
										<i class="lp-icon lp-icon-xxl lp-icon-info-sign open-popup" ng-click="toggleIbanModal()"></i>
									</span>
								</div>
								<div ng-switch-when="true" class="form-group">
									<div us-account-input="us-account-input"
										 name="counterpartyAccount"
										 ng-model="paymentOrder.counterpartyAccount"
										 lp-country-list="internationalTransferCountryList"
										 lp-transfer-type="paymentOrder.type"
										 modal="toggleRoutingNumberModal"
											>
									</div>
								</div>
							</div>
						</li>
						<li tab="tab" active="activeTransferTab.p2pEmail" select="setPaymentOrderType(poTypeEnum.p2pEmail)">
							<span tab-heading="tab-heading" class="tab-heading" lp-i18n="Email"></span>
							<div>
								<div email-transfer="email-transfer"
									 ng-model="paymentOrder.counterpartyEmail"
									 name="counterpartyEmail"
									 lp-transfer-type="paymentOrder.type"
										></div>
								<div class="enrollment-area" ng-if="!userEnrolledForP2P">
									<div p2p-enrollment="p2p-enrollment"
										 lp-accounts="accountsModel.accounts"
										 ng-model="p2pUserEnrollment"
										 name="p2pEnrollment"
										 lp-transfer-type="paymentOrder.type"
											></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5 pull-left">
				<div class="form-group col-sm-12">
					<div class="lp-payment-mode-tabs">
						<ul tabset="tabset" class="payment-mode-tab-area">
							<li tab="tab" active="toggleTabs.oneTime">
								<span tab-heading="tab-heading" class="tab-heading" ng-click="setScheduledTransfer('one-time')" lp-i18n="One Time"></span>
								<div class="one-time clearfix">
									<div class="pull-left text" lp-i18n="Sending date"></div>
									<div class="pull-left date-picker">
										<input ng-click="openCalendar($event)" required="required" type="text" name="scheduleDate" ng-model="paymentOrder.scheduleDate" datepicker-popup="dd-MMM-yyyy" readonly="readonly" min-date="todaysDate" is-open="paymentOrder.isOpenDate" class="form-control" lp-future-time=""
											   datepicker-options="dateOptions" show-button-bar="false" tabindex="0" placeholder="select date" aria-label="select date" ng-keypress="openCalendar($event)" />
										<span ng-click="openCalendar($event)" class="lp-icon lp-icon-calendar calendar-icon"></span>
									</div>
								</div>
								<div class="urgent-transfer clearfix" ng-show="paymentOrder.type === poTypeEnum.bank">
									<div class="urgent-checkbox pull-left"><input aria-label="urgent transfer" ng-model="paymentOrder.urgentTransfer" type="checkbox" /></div><div class="urgent-message pull-left"><span class="text-muted"><span lp-i18n="Make transfer urgent"></span><i class="lp-icon lp-icon-xxl lp-icon-info-sign open-popup" ng-click="toggleUrgentTransferModal()"></i></span></div>
								</div>
								<p ng-show="paymentOrder.urgentTransfer" class="urgent-transfer-message"><span lp-i18n="messages.urgentTransferMessage"></span></p>
							</li>
							<li tab="tab" active="toggleTabs.scheduled" ng-hide="paymentOrder.type !== poTypeEnum.bank">
								<span tab-heading="tab-heading" class="tab-heading" ng-click="setScheduledTransfer('scheduled')" lp-i18n="Scheduled"></span>
								<div scheduled-transfer="scheduled-transfer"  ng-model="paymentOrder.scheduledTransfer" lp-form-name="new-transfer-form"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 pull-right">
				<div lp-payment-ref-description="lp-payment-ref-description"
					 name="counterpartyReference"
					 ng-model="paymentOrder"
					 hide-payment-reference="usTransfer || paymentOrder.type !== poTypeEnum.bank">
				</div>
			</div>
		</div>
	</div>

	<!--  Footer -->
	<div class="widget-footer">
		<div ng-hide="paymentOrder.update" class="pull-left checkbox save-to-contacts">
			<label>
				<input aria-label="{{'Save to Contacts'|translate}}?" type="checkbox" ng-model="paymentOrder.saveContact" ng-change="onSaveContactsChange()" /><span lp-i18n="Save to Contacts"></span>
			</label>
			<i class="lp-icon lp-icon-xxl lp-icon-info-sign open-popup" ng-click="toggleSaveToContactsModal()"></i>
		</div>
		<div class="pull-right">
			<button name="resetForm"
					aria-label="Clear form"
					class="btn btn-link"
					ng-disabled="paymentOrderForm.$pristine"
					ng-click="resetForm()"
					type="button"
                    lp-i18n="Clear">
			</button>
			<button name="cancel"
					aria-label="Cancel transfer"
					class="btn btn-link"
					ng-click="cancelForm()"
					data-action="lp-tab-hide"
					type="button"
                    lp-i18n="Cancel">
			</button>
			<button type="submit" aria-label="Submit Transfer" class="btn btn-primary" name="submitForm" ng-click="submitForm($event)" lp-i18n="Submit Transfer"></button>
		</div>
		<div ng-show="errors.updateServerError" class="text-danger pull-left" lp-i18n="Updating: Server error!"></div>
	</div>
</form>

</div>
</div>
</body>
</html>
