.portfolio-minimap {
  /**
   * Dropdown
   */
}
.portfolio-minimap .header {
  height: 60px;
  background: #13a581;
  color: #ffffff;
}
.portfolio-minimap .gr {
  height: 55px;
  background: #ffffff;
  z-index: 2;
}
.portfolio-minimap .area {
  fill: #18d3a5;
}
.portfolio-minimap .axis line {
  stroke: #108e6f;
}
.portfolio-minimap .axis text {
  fill: #108e6f;
}
.portfolio-minimap .domain {
  display: none;
}
.portfolio-minimap .brush .extent {
  stroke: #0d6e56;
  fill: #0d6e56;
  fill-opacity: .3;
}
.portfolio-minimap .brush .resize .drg {
  fill: #0d6e56;
  shape-rendering: crispEdges;
}
.portfolio-minimap .brush .resize path {
  stroke: #ffffff;
  shape-rendering: crispEdges;
}
.portfolio-minimap .timespan {
  margin-left: 10px;
}
.portfolio-minimap .frequency {
  margin-right: 20px;
  float: right;
}
.portfolio-minimap .dropdown {
  font-size: 1.25em;
  line-height: 60px;
  padding-left: 10px;
}
.portfolio-minimap .dropdown-toggle {
  line-height: 1.5em;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 7px;
  padding: 0 5px !important;
  min-width: 40px;
  text-align: center;
}
.portfolio-minimap .dropdown-menu {
  border-radius: 5px;
  background: #13a581;
  border: 1px solid #ffffff;
  margin-top: 11px;
}
.portfolio-minimap .dropdown-menu:before,
.portfolio-minimap .dropdown-menu:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 60%;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-top-width: 0;
  border-bottom-color: #13a581;
}
.portfolio-minimap .dropdown-menu:before {
  top: -11px;
  border-bottom-color: #ffffff;
}
.portfolio-minimap .dropdown-menu li {
  border-top: none;
  cursor: pointer;
}
.portfolio-minimap .dropdown-menu li:first-child a {
  border-radius: 3px 3px 0 0;
}
.portfolio-minimap .dropdown-menu li:last-child a {
  border-radius: 0 0 3px 3px;
}
.portfolio-minimap .dropdown-menu a {
  background: transparent !important;
  color: rgba(255, 255, 255, 0.7) !important;
}
.portfolio-minimap .dropdown-menu a:hover {
  color: #13a581 !important;
  background: #a1dbcd !important;
}
.portfolio-minimap .dropdown-menu .active {
  color: #ffffff !important;
  font-weight: bold;
}
