/* Catalog */

.lp-widget-catalog {
    background-color: #f3f3f3;
    height: 600px;
}

/* Loading */

.lp-widget-catalog .lp-catalog-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: url(../media/loading_spinner.gif) no-repeat center center #eee;
    opacity: 0.7;
}

/* Slides */

.lp-widget-catalog .lph-slides {
    padding: 24px;
}

.lp-widget-catalog .lp-catalog-bottom {
    display: none;
}

.lp-widget-catalog .lp-catalog-bottom {
    text-align: center;
}

.lp-widget-catalog .lp-catalog-bottom ul {
    display: inline;
}

.lp-widget-catalog .lp-catalog-pagination li {
    display: inline;
    float: none;
}

.lp-widget-catalog .lp-catalog-pagination a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../media/icons_dots.png) no-repeat -16px 4px transparent;
    text-indent: -9999px;
}

.lp-widget-catalog .lp-catalog-pagination .current a {
    background-position: 4px 4px;
}

.lp-widget-catalog {
    height: 100%;
}
.lp-widget-catalog .lp-widget-catalog-toolbar {
    display: none;
}

.lp-widget-catalog .lph-slides-container,
.lp-widget-catalog .lph-slides-container .lp-slides-page {
    width: 100%;
}

.lp-catalog-item {
    background: white;
    max-height: 101px;
    position: relative;
    width: 32%;
    height: 101px;
}

.lp-catalog-item .btn {
    margin-top: 14px;
}

.lp-catalog-item .lp-catalog-icon {
    position: absolute;
}
.lp-catalog-item .lp-catalog-info {
    margin: 8px 44px;
}
.lp-catalog-item .lp-catalog-add {
    position: absolute;
    right: 10px;
}

.lp-catalog-icon {
    margin-right: 8px;
    margin-top: 10px;
}
.lp-catalog-icon .lp-icon-xxl {
    font-size: 34px;
}

/* Preview */

.lp-catalog-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
}

.lp-catalog-preview .well {
    margin-bottom: 0;
}

.lp-catalog-preview .well .lp-catalog-add {
    margin-right: 8px;
}

.lp-catalog-preview .lp-catalog-screenshot {
    margin-top: 10px;
    height: 250px;
    text-align: center;
}

.lp-catalog-preview .lp-catalog-screenshot img {
    max-height: 100%;
}
