<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transactions</title>

    <link rel="stylesheet" type="text/css" href="dist/styles/base.css" />
</head>
<body class="lp-p2p-transactions" g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">

    <div class="ng-cloak" ng-controller="P2PTransactionsController" ng-class="responsiveClass">

        <!--  Full Content -->
         <div class="lp-widget-content" role="application">

            <!-- Alerts -->
            <div class="lp-alerts" ng-show="transactionsModel.errorCode || accountsModel.error">
                <div class="alert alert-danger">
                    <p ng-show="transactionsModel.errorCode">
                        <span translate="{{transactionsModel.errorCode}}"></span>
                        <a ng-click="transactionsModel.loadTransactions()" class="alert-link" lp-i18n="Try again"></a>
                    </p>
                </div>
            </div>

            <!--  Body Content -->
            <div class="lp-widget-body widget-body">

                <ul id="p2p-transactions-list" role="presentation" class="list-group list-view p2p-transactions-list"
                    ng-if="transactionsModel.transactions.length > 0">
                    <li class="list-group-item list-view-row clearfix" ng-class="{ open: transaction.showDetails }"
                        ng-repeat="transaction in transactionsModel.transactions track by transaction.id"
                        itemscope="" itemtype="http://launchpad.backbase.com/vocab/retail/transaction">
                        <div class="list-view-container clearfix"
                            ng-mouseleave="closePreview(transaction)" role="button"
                            id="p2p-transaction-{{transaction.id}}" aria-expanded="{{ !!transaction.showDetails }}"
                            aria-controls="transaction-details-{{transaction.id}}">
                            <div class="info">
                                <div class="col-xs-1 col-sm-1 column">
                                    <div class="centered">
                                        <div class="h4 text-center lp-transactions-date" aria-hidden="true" ng-if="transaction.showDate">
                                            <span itemprop="dateTimeMonth">{{transaction.initiationDateTime | date:'MMM'}}</span>
                                            <br />
                                            <span itemprop="dateTimeDate">{{transaction.initiationDateTime | date:'dd'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm col-md-1 column">
                                    <div class="centered">
                                        <div class="lp-transaction-icon hidden-xs gray-image-hover">
                                            <img ng-if="transaction.counterparty.logo" ng-src="{{transaction.counterparty.logo}}" width="35" height="35" alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 column left-align padded">
                                    <div class="centered">
                                        <div class="h4 counterparty-name" itemProp="counterpartyName"><span class="sr-only" lp-i18n="Name"></span>{{transaction.counterpartyName}}</div>
                                        <span class="h6 text-muted"><span class="sr-only" lp-i18n="Counterparty account"></span>{{transaction.counterpartyEmail}}</span>
                                        <div class="h6 text-muted transaction-note" ng-if="transaction.description.length > 0"><span lp-i18n="Note"></span>: {{transaction.description}}</div>
                                        <div class="h6 text-muted transaction-note" ng-if="!transaction.description || transaction.description.length === 0" lp-i18n="No notes"></div>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 column">
                                    <div class="centered text-right">
                                        <span class="sr-only" lp-i18n="Amount"></span>
                                        <span class="h4" itemProp="transactionAmount"
                                              lp-amount="transaction.instructedAmount"
                                              lp-amount-currency="transaction.instructedCurrency"></span>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-3 col-md-2 column">
                                    <div class="centered" lp-i18n="{{transaction.status}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix details transaction-details" id="p2p-transaction-details-{{transaction.id}}" aria-labelledby="transaction-details-data-{{transaction.id}}">
                            <div class="col-xs-12 col-sm-12">

                            </div>
                        </div>
                    </li>
                </ul>

                <div ng-show="transactionsModel.allowMoreResults()">
                    <p class="text-center">
                        <a href="" class="cursor-pointer" tabindex="0" ng-click="loadMoreTransactions()" lp-i18n="Show more"></a>
                    </p>
                </div>
                <div ng-if="!userEnrolledForP2P">
                    <p class="panel-message text-center">
                        <span lp-i18n="You are not enrolled in P2P"></span>, <a href="" tabindex="0" class="cursor-pointer" ng-click="enroll()" lp-i18n="please register here"></a>.</p>
                </div>
                <div ng-if="transactionsModel.noTransactionsFound()">
                    <p class="panel-message text-center" lp-i18n="You haven't made any P2P transfers yet..."></p>
                </div>
                <div ng-if="transactionsModel.loading" role="alert">
                    <p class="panel-message text-center" lp-i18n="Loading transactions..."></p>
                </div>

            </div>

            <div class="widget-footer">
                <button class="btn-primary btn pull-right" ng-click="transferMoney()" lp-i18n="Transfer money"></button>
            </div>
        </div>
    </div>
</body>
</html>
