<div ng-controller="SavingGoalListCtrl as listCtrl">
    <div class="lp-widget-body widget-body">

        <!-- Panel Message -->
        <div ng-if="listCtrl.state.savingGoals.length == 0"
             ng-class="{'loading-panel': listCtrl.loading || listCtrl.error}"
             class="panel-message" role="alert">

            <div ng-if="listCtrl.loading">
                <i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
                <span class="sr-only">
                    {{ 'Busy' | translate }}
                </span>
            </div>

            <div ng-if="!listCtrl.loading" class="panel-body text-center text-muted">
                <h3 ng-show="listCtrl.state.savingGoals.length == 0 && !listCtrl.error">
                    {{ 'You don\'t have any saving goals yet.' | translate }}
                </h3>
                <div ng-show="listCtrl.error">
                    <h3>{{ 'Unable to fetch data.' | translate }}</h3>
                    <button aria-label="Retry" class="btn btn-primary btn-sm"
                            ng-click="listCtrl.fetchSavingGoalList()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        {{ 'Retry' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Saving Goal List -->
        <div class="col-xs-12" ng-show="listCtrl.state.savingGoals.length != 0">
            <div class="row goal" ng-repeat="savingGoal in listCtrl.state.savingGoals" ng-class="[savingGoal.status]">
                <h6 class="goal-date">{{ savingGoal.targetDate | date:'mediumDate' }}</h6>
                <div class="row group">
                    <div class="col-xs-1 hidden-xs hidden-sm">
                        <div class="icon {{ listCtrl.iconMap[savingGoal.image] }}"></div>
                    </div>

                    <div class="col-xs-12 col-md-11">
                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <span class="visible-xs visible-sm icon {{ listCtrl.iconMap[savingGoal.image] }}"></span>
                                <h5 class="title">
                                    {{ savingGoal.title }}
                                    <a href="#" class="open-editor" ng-click="listCtrl.updateSavingGoal(savingGoal)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <div progressbar="progressbar"
                                     type="{{ savingGoal.type }}"
                                     value="savingGoal.saved" max="savingGoal.amount">
                                    <i class="todays-goal"
                                       ng-if="savingGoal.toBeSaved"
                                       style="padding-left: {{ savingGoal.toBeSaved * 100 / savingGoal.amount }}%;">|</i>
                                    <i class="pull-left progress-text">
                                        <span class="saved">{{ savingGoal.saved | currency : '$' : 2 }}</span> /
                                        <span class="amount">{{ savingGoal.amount | currency : '$' : 2 }}</span>
                                    </i>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <span class="percentage-saved">{{ savingGoal.percentageSaved }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-footer">
        <div class="pull-right">
            <button aria-label="Set New Goal" id="set-new-goal" class="btn btn-primary btn-sm" tabindex="0"
                    ng-click="listCtrl.addSavingGoal()">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'Set New Goal' | translate }}
            </button>
        </div>
    </div>
</div>
