<div class="lp__otp panel-body">
    <form class="form" ng-submit="otpCtrl.submit()" novalidate="novalidate" autocomplete="off">
        <div class="lp__otp-code">
            <i class="pull-right lp-icon lp-icon-info-sign" ng-click="otpCtrl.toggleInfoMessage()"></i>
            <div lp-text-input placeholder="6 digit code" focus-id="otp" label="Enter authentication code:" ng-disabled="otpCtrl.timeExpired" ng-model="otpCtrl.data.otpcode"></div>
        </div>

        <div class="panel-body" ng-show="otpCtrl.displayInfoMessage">
            <i class="lp-icon lp-icon-mobile"></i>
            <small class="text-muted" lp-i18n="Please locate the code sent to your cell phone number or email address. If you do not receive this code within the next 2 minutes, you will be able to request a new code."></small>
        </div>

        <div ng-show="otpCtrl.timerShown">
            <div lp-timer millis="{{otpCtrl.countdownSeconds}}" delay-countdown="{{otpCtrl.timerHideSeconds}}" on-countdownstart="otpCtrl.countdownStart()" on-finish="otpCtrl.finish()" ng-show="!otpCtrl.timeExpired"  on-tick="otpCtrl.onTick(percentage, time, startIn)"></div>
            <button type="button" class="btn btn-link btn-sm" ng-click="otpCtrl.retry()" ng-show="otpCtrl.timeExpired" lp-i18n="Retry"></button>
        </div>
        <div class="form-group text-right">
            <button type="button" class="btn btn-link btn-sm" ng-click="otpCtrl.cancel()" lp-i18n="Cancel"></button>
            <button type="submit" class="lp__otp-button btn btn-primary btn-sm" ng-disabled="!otpCtrl.data.otpcode || otpCtrl.timeExpired" lp-i18n="Verify"></button>
        </div>
    </form>

</div>
