<div class="e-bill-payment col-xs-12 clearfix" ng-if="bill.opened" ng-init="payCtrl.init(bill)" ng-controller="PaymentCtrl as payCtrl">
    <div ng-show="payCtrl.loading" class="loading-tab">Loading...</div>
    <div ng-form="eBillPaymentForm" novalidate>

        <div class="row" ng-hide="payCtrl.loading">

            <div class="col-xs-12 col-sm-8 col-md-9">
                <!-- AUTOPAY ENABLED -->
                <div class="radio" ng-if="bill.autoPay"><i class="glyphicon glyphicon-check"></i>
                    <span class="text-muted" lp-i18n="Autopay is enabled"></span>
                </div>
                <!-- AUTOPAY DISABLED -->
                <div class="row form-group" ng-if="!bill.autoPay">

                    <div class="clearfix"  ng-if="bill.amount">
                        <div class="radio col-xs-7">
                            <label class="control-label">
                                <input type="radio" name="amount-{{bill.id}}" ng-checked="true" ng-model="payCtrl.paymentParams.amount" ng-click="payCtrl.setSpecificAmount(bill.amount)" ng-value="bill.amount" />
                                <span lp-i18n="Statement Balance"></span>
                            </label>
                        </div>
                         <div class="col-xs-5 col-sm-2 text-right">
                             <span class="radio h5" lp-amount="bill.amount" lp-amount-currency="bill.currencySym"></span>
                        </div>
                    </div>

                    <div class="clearfix" ng-if="bill.minAmount">
                        <div class="radio col-xs-7">
                            <label class="control-label">
                                <input type="radio" name="amount-{{bill.id}}" ng-model="payCtrl.paymentParams.amount" ng-click="payCtrl.setSpecificAmount(bill.minAmount)" ng-value="bill.minAmount"  />
                                <span lp-i18n="Minimum Amount"></span>
                            </label>
                        </div>
                        <div class="col-xs-5 col-sm-2 text-right">
                             <span class="radio h5" lp-amount="bill.minAmount" lp-amount-currency="bill.currencySym"></span>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="radio col-xs-12 col-sm-12 col-md-5">
                            <label class="control-label">
                                <input type="radio" name="amount-{{bill.id}}" ng-click="payCtrl.setSpecificAmount()" />
                                <span lp-i18n="Specified Amount"></span>
                          </label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 lp-currency-amount-input" ng-show="payCtrl.specific">
                            <div class="amount-area" name="amount" ng-model="payCtrl.specificAmount"
                                e-bill-amount-input="{currencySym: bill.currencySym }"></div>
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label class="col-xs-12 col-sm-12 col-md-5 control-label" lp-i18n="Payment date"></label>
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <div class="input-group date-picker" ng-init="isOpen = false">
                                <input type="text" class="form-control"
                                name="scheduleDate"
                                ng-click="isOpen = !isOpen"
                                ng-model="payCtrl.paymentParams.scheduleDate"
                                datepicker-popup="dd-MMM-yyyy"
                                show-weeks="false"
                                min-date="payCtrl.minDate"
                                is-open="isOpen"
                                show-button-bar="false"
                                tabindex="0"
                                placeholder="{{'select date'|translate}}"
                                aria-label="{{'select date'|translate}}" />
                                <span ng-click="isOpen = !isOpen" class="input-group-addon lp-icon lp-icon-calendar calendar-icon"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-xs-12 col-sm-12 control-label" lp-i18n="Pay with"></label>
                        <div class="col-xs-12 col-sm-12">

                            <div name="accountId" class="lp-accounts-header" ng-change=""
                                lp-accounts-select="lp-accounts-select"
                                ng-model="payCtrl.paymentParams.account"
                                lp-accounts="payCtrl.accounts" required="required">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 e-bill-action-buttons">
                <div ng-if="!bill.autoPay">
                    <button type="submit" name="submitForm" ng-show="bill.actions.pay" ng-disabled="payCtrl.paymentParams.amount <= 0" class="btn btn-block btn-primary" ng-click="blCtrl.pay(bill, payCtrl.paymentParams, $index, $groupIndex)" lp-i18n="Pay"></button>
                    <button class="btn btn-block btn-primary" ng-show="bill.actions.reject" ng-click="blCtrl.reject(bill, $index, $groupIndex)" lp-i18n="Decline"></button>
                    <!-- <button class="btn btn-block btn-primary" ng-if="bill.mandate.actions.enableDirectDebit" ng-click="bill.autoPay = true">Enable Autopay</button> -->
                </div>
                <div ng-if="bill.autoPay" >
                    <!-- <button class="btn btn-block btn-primary" ng-if="bill.mandate.actions.disableDirectDebit" ng-click="bill.autoPay = false">Disable Autopay</button> -->
                </div>

            </div>
        </div>
    </div>
</div>
