@font-face {
  font-family: 'icomoon_budgets';
  src: url('../../media/fonts/icomoon.eot?anbndn');
  src: url('../../media/fonts/icomoon.eot?#iefixanbndn') format('embedded-opentype'), url('../../media/fonts/icomoon.woff?anbndn') format('woff'), url('../../media/fonts/icomoon.ttf?anbndn') format('truetype'), url('../../media/fonts/icomoon.svg?anbndn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-icons-budgets_"],
[class*=" icon-icons-budgets_"] {
  font-family: 'icomoon_budgets';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icons-budgets_shopping:before {
  content: "\e600";
}
.icon-icons-budgets_food:before {
  content: "\e601";
}
.icon-icons-budgets_coffee:before {
  content: "\e602";
}
.icon-icons-budgets_house:before {
  content: "\e603";
}
.icon-icons-budgets_car:before {
  content: "\e604";
}
.icon-icons-budgets_drinks:before {
  content: "\e605";
}
.icon-icons-budgets_phone:before {
  content: "\e606";
}
.icon-icons-budgets_bag:before {
  content: "\e607";
}
.icon-icons-budgets_trip:before {
  content: "\e608";
}
/* jQuery Gridly
 * Copyright 2013 Kevin Sylvestre
 *  1.1.4
 */
.gridly,
.gridly > :not(.dragging) {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.gridly .dragging {
  z-index: 800;
}
.gridly {
  position: relative;
  width: 100%;
}
/* Same dimensions need to be defined in JS file */
.brick.dragging {
  opacity: 0.8;
}
.brick.small {
  width: 140px;
  height: 140px;
}
.brick.medium {
  width: 300px;
  height: 140px;
}
.brick.large {
  width: 300px;
  height: 300px;
}
.brick.edit {
  width: 300px;
  height: 300px;
}
/* Budget tile boxes styles */
.tiles {
  margin: 20px;
  overflow: visible;
}
/* Override turning wheel style */
.tiles .panel-message {
  padding-top: 0px;
  padding-bottom: 0px;
}
.tiles .glyphicon-pencil {
  font-size: 10px;
  padding-left: 3px;
}
.tile-new {
  text-align: center;
  font-size: 12px;
  padding-top: 35px;
}
.tile-new:hover {
  color: #626262;
}
.tile {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  color: #A39491;
  cursor: pointer;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  /*animation*/
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  /*rounded corners*/
  border-radius: 4px;
}
.tile-logo {
  position: absolute;
  bottom: 0px;
  right: -5px;
  top: auto !important;
  color: rgba(98, 98, 98, 0.3);
  font-size: 100px;
}
.large .tile .tile-logo {
  font-size: 175px;
}
.edit .tile .tile-logo {
  font-size: 175px;
}
/* Budget tile - Progress indication styles */
.tile-progress {
  position: absolute;
  bottom: 0;
  left: 0px;
  top: 0;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* Budget tile inner element styles */
.tile .budget-name {
  height: 30px;
  width: 100%;
  color: #F5F2F1;
  font-size: 15px;
  padding-top: 4px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  bottom: 0px;
  position: absolute;
  border-radius: 4px;
}
.tile-danger .budget-name {
  color: #F5F2F1;
}
.tile .budget-icon {
  background: none;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
.tile .budget-icon:hover {
  color: #626262;
}
.tile .top-control {
  background: none;
  border: none;
}
.create-budget {
  background: none;
  border: none;
  /*color: #D7D2D2;*/
  font-size: 36px;
}
.budget-header {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 15px;
}
.budget-header .budget-title {
  font-size: 20px;
  color: #000000;
}
.budget-header-amount {
  position: absolute;
}
.tile-danger .budget-header-amount {
  color: #F5F2F1;
}
.tile-success .budget-header-amount {
  color: #3c763d;
}
.progress-bar-success .budget-header-amount {
  color: green;
}
.progress-bar-danger .budget-header-amount {
  color: #F5F2F1;
}
.budget-spent {
  margin: 0;
  font-size: 14px;
}
.tile .budget-transaction-list-empty {
  text-align: center;
  padding-top: 40%;
}
/* Wizard styles */
.lp-budgets .panel {
  margin-bottom: 10px;
}
.lp-budgets .wizard-title {
  font-size: 12px;
}
.lp-budgets .wizard-header {
  margins: 0px;
}
.lp-budgets .wizard-left-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.lp-budgets .wizard-right-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.budget-edit {
  margin-top: 10px;
}
.budget-edit .content {
  height: 150px;
  margin: 10px;
  overflow: auto;
  position: relative;
}
/* Category selection styles */
.budget-edit .content .category-item {
  position: relative;
  display: table;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid #dddddd;
  overflow: hidden;
  color: #000000;
}
.budget-edit .content .category-item.selected {
  background-color: #ededed;
}
.category-item .category-marker {
  position: absolute;
  display: block;
  width: 7px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #dddddd;
}
.budget-edit .content .category-item .category-name {
  padding-left: 10px;
}
.budget-edit .content .category-item .category-sign {
  float: right;
}
/* Budget icons */
.icons-budget-row {
  padding-top: 5px;
}
.icons-budget-col {
  text-align: center;
  font-size: 23px;
}
.icons-budget {
  display: inline-block;
}
/* Budget creation styles */
.create-budget-body {
  margin-top: 10px;
  min-height: 200px;
}
/* Alert styles */
.budgets-alert {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 28px;
  padding-top: 5px;
}
.budget-error {
  position: absolute;
  width: 100%;
  z-index: 100;
}
