<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" />
</head>
<body g:onload="requireWidget(__WIDGET__, 'scripts/main');" ng-controller="loginController" ng-cloak="true">

	<div class="panel-body">
        <h1>Login</h1>
        <form role="form" ng-submit="getLogin()" novalidate="novalidate" name="loginForm">
            <div class="form-group">
                <label class="sr-only" for="j_username">ID</label>
                <input class="form-control input-lg" type="text" name="j_username" placeholder="Username"
                       ng-model="user.username" ng-required="true"
                       autofill="autofill" autocorrect="off" autocapitalize="off"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="j_password">Password</label>
                <input class="form-control input-lg" type="password" name="j_password" placeholder="Password" ng-model="user.password" ng-required="true" autofill="autofill"/>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-block btn-primary">Sign in</button>
        </form>
    </div>
		
</body>
</html>