<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Portfolio Assets</title>
    <link rel="stylesheet" type='text/css' href="dist/styles/base.css"/>
</head>
<body g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');" class="portfolio-assets" ng-controller="MainCtrl as mainCtrl">

<div class="loading-panel" ng-if="mainCtrl.loading" role="alert">
    <i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
    <span class="sr-only" lp-i18n="Busy"></span>
</div>

<div class="header" ng-cloak="true">
    <h2 lp-i18n="Assets allocation"></h2>
    <div class="legend">
        <span ng-repeat="(i, t) in mainCtrl.config.types">
            <label class="asset-{{i}}"></label>
            <span lp-i18n="{{t.value}}"></span>
        </span>
    </div>
</div>

<div lp-wealth-assets="mainCtrl.config" ng-model="mainCtrl.data" class="gr"></div>

</body>
</html>
