<h4 lp-i18n="Authorized Devices"></h4>
<div ng-show="mainCtrl.devices.length > 0" ng-repeat="item in mainCtrl.devices">
    <div class="lp-device-card" title="{{item.readableDeviceId}}">
        <div class="card-header">
            <dd>{{item.readableDeviceId}}</dd>
        </div>
        <div class="card-content">
            <span lp-i18n="Last Access: "></span>
            <span ng-show="item.isCurrentSession" lp-i18n="currently connected"></span>
            <span ng-show="!item.isCurrentSession">{{item.lastAccess | date:'medium'}}</span>
        </div>
        <div class="card-actions" ng-repeat="button in mainCtrl.cardButtons">
            <button class="btn btn-link device-revoke-button" ng-click="button.onclick(item)">{{ button.label }}</button>
        </div>
    </div>
</div>


