<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile - Contact</title>
</head>
<body class="lp-profile-contact" g:onload="requireWidget(__WIDGET__, 'dist/scripts/main');">

    <div class="ng-cloak" ng-controller="ProfileContactCtrl">

         <!--  Full Content -->
         <div class="lp-widget-content">

            <!--  Alerts -->
            <div class="lp-alerts">
<!--                 <div class="alert alert-error" ng-show="accountsModel.error || paymentOrdersModel.error"> -->
            </div>

            <!--  Body Content -->
            <div class="lp-widget-body widget-body panel-body">

                    <form class="form-horizontal" role="form" name="contactForm">

                        <div lp-field="lp-field"
                            label="Contact Address"
                            action="/address/change"
                            action-label="Request address changes">
                                <div lp-control="lp-control"
                                    ng-model="control.address.value"
                                    type="textarea"
                                    readonly="true">
                                </div>
                        </div>

                        <div lp-field="lp-field"
                            label="Phone number"
                            tip="Please provide your mobile phone"
                            errors="control.phoneNumber.errors"
                            error-messages="errorMessages"
                            help="Example like +16464787538">
                                <div lp-control="lp-control"
                                     type="tel"
                                    ng-model="control.phoneNumber.value"
                                    validate="control.phoneNumber.validate(value)"
                                    ng-change="save('phoneNumber', control.phoneNumber.value)"
                                    loading="isLoading"
                                    required="true">
                                </div>
                        </div>

                        <div lp-field="lp-field"
                            label="E-mail address"
                            tip="Please provide your email"
                            errors="control.emailAddress.errors"
                            error-messages="errorMessages">
                                <div lp-control="lp-control"
                                     type="email"
                                    ng-model="control.emailAddress.value"
                                    validate="control.emailAddress.validate(value)"
                                    ng-change="save('emailAddress', control.emailAddress.value)"
                                    loading="isLoading"
                                    required="true">
                                </div>
                        </div>

                    </form>
            </div>

        </div>
    </div>
</body>
</html>
