<div class="lp-billpay-dashboard widget-body">
    <div ng-controller="MainCtrl as mainCtrl">
        <div ng-controller="PayeeListCtrl as listCtrl" ng-init="listCtrl.init()" progress-indicator="listCtrl.isLoading">
            <div class="panel panel-default" ng-if="listCtrl.ebillPayees" ng-repeat="(key, group) in listCtrl.ebillPayees">
                <div class="panel-heading" lp-i18n="DUE DATE" translate-values="{ date: key }" ></div>
                <div class="panel-body">
                    <div class="e-bill-list-wrapper clearfix">
                        <ul class="list-group">
                            <li class="list-group-item list-view-row"
                                ng-init="payee.opened = false"
                                ng-repeat="payee in group"
                                ng-class="{'e-bill-opened-item': payee.opened}">

                                <div payee-list-item ng-model="payee" class="list-item">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
            <div class="panel panel-default" ng-if="listCtrl.othPayees.length">
                <div class="panel-body">
                    <div class="e-bill-list-wrapper clearfix">
                        <ul class="list-group">
                            <li class="list-group-item list-view-row"
                                ng-init="payee.opened = false"
                                ng-repeat="payee in listCtrl.othPayees"
                                ng-class="{'e-bill-opened-item': payee.opened}">

                                <div payee-list-item ng-model="payee" class="list-item">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
