<div class="panel-body">
	<div class="radio">
		<label>
			<input type="radio" ng-model="privacyCtrl.data.privacy" value="public" /> <span lp-i18n="Public"></span>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" ng-model="privacyCtrl.data.privacy" value="private" /> <span lp-i18n="Private"></span>
		</label>
	</div>
	<div class="text-right">
		<button type="submit" class="btn btn-sm btn-primary"  ng-disabled="" ng-click="privacyCtrl.submit()" lp-i18n="Submit"></button>
	</div>
	<div class="panel-body">
		<small class="text-muted" lp-i18n="Please indicate whether you are using a personal device (PC, laptop, etc.) in a 'private' environment, or whether you are in a public environment, like on a public wifi network"></small>
	</div>
</div>
