<div ng-controller="CredentialsViewController">
    <div class="panel panel-default" ng-if="fiModel.selected">
        <div class="panel-heading selected-fi">
            <div class="col-xs-2 col-lg-1">
                <span><i class="lp-icon {{fiModel.selected.icon}}"></i></span>
            </div>
            <div class="col-xs-10 col-xs-11">
                <span class="h4">{{fiModel.selected.name}}</span><br />
                <span>{{fiModel.selected.url}}</span>
            </div>
        </div>
    </div>
    <div progress-indicator="progress-indicator" is-loading="fiModel.isConnecting" class="panel-body">
        <p>{{'Login to'|translate}}: {{fiModel.selected.url}}</p>
        <form class="form-horizontal" ng-submit="authenticateWithSelectedFI()" tabindex="0" aria-label="{{fiModel.selected.name}} authentication form">
            <div ng-repeat="credential in fiModel.selected.requiredUserCredentials"  >
                <div lp-field="lp-field"
                     label="{{credential.inputFieldLabel}}">
                    <div dynamic-credential-input="dynamic-credential-input" credential="credential" ng-model="credential.fieldValue"></div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-xs-6 col-md-4" lp-i18n="Log In"></button>
                <button type="button" ng-click="restartWizard()" class="btn btn-link col-xs-3 col-md-2 col-xs-offset-3 col-md-offset-1" lp-i18n="Go Back"></button>
            </div>
        </form>
        <p class="text-center" ng-if="fiModel.isConnecting">{{'Talking to'|translate}} {{fiModel.selected.name}}</p>
    </div>
</div>