/*----------------------------------------------------------------*/
/* Import Components
/*----------------------------------------------------------------*/
.lp-account-select button.dropdown-toggle .lp-acct-detail,
.lp-account-select ul.dropdown-menu .lp-acct-detail {
  padding-top: 7px;
  color: inherit;
}
.lp-account-select button.dropdown-toggle .lp-acct-from,
.lp-account-select ul.dropdown-menu .lp-acct-from {
  width: 40px;
  font-size: 90%;
  font-weight: bold;
  padding-top: 2px;
}
.lp-account-select button.dropdown-toggle .lp-acct-name,
.lp-account-select ul.dropdown-menu .lp-acct-name {
  color: inherit;
}
.lp-account-select button.dropdown-toggle .lp-account-amount,
.lp-account-select ul.dropdown-menu .lp-account-amount {
  color: inherit;
}
.lp-account-select button.dropdown-toggle .lp-account-bal,
.lp-account-select ul.dropdown-menu .lp-account-bal {
  color: inherit;
}
.lp-account-select button.dropdown-toggle {
  text-align: left;
  border-radius: 0px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lp-account-select button.dropdown-toggle .caret {
  position: absolute;
  top: 45%;
  right: 5px;
}
.lp-account-select button.dropdown-toggle .lp-acct-name {
  font-weight: bold;
}
.lp-account-select ul.dropdown-menu .lp-acct-from span {
  visibility: hidden;
}
.lp-account-select .lp-large-account-select-size ul.dropdown-menu li a,
.lp-account-select .lp-small-account-select-size ul.dropdown-menu li a {
  padding: 15px 25px 15px 12px;
}
.lp-account-select .lp-small-account-select-size button.dropdown-toggle .lp-acct-num,
.lp-account-select .lp-normal-account-select-size button.dropdown-toggle .lp-acct-num,
.lp-account-select .lp-small-account-select-size button.dropdown-toggle .lp-account-bal,
.lp-account-select .lp-normal-account-select-size button.dropdown-toggle .lp-account-bal,
.lp-account-select .lp-small-account-select-size button.dropdown-toggle .lp-acct-from,
.lp-account-select .lp-normal-account-select-size button.dropdown-toggle .lp-acct-from,
.lp-account-select .lp-small-account-select-size ul.dropdown-menu .lp-acct-from,
.lp-account-select .lp-normal-account-select-size ul.dropdown-menu .lp-acct-from {
  display: none;
}
.lp-account-select .lp-small-account-select-size button.dropdown-toggle .lp-acct-detail,
.lp-account-select .lp-normal-account-select-size button.dropdown-toggle .lp-acct-detail,
.lp-account-select .lp-small-account-select-size button.dropdown-toggle .lp-account-amount,
.lp-account-select .lp-normal-account-select-size button.dropdown-toggle .lp-account-amount {
  padding-top: 0px;
}
.lp-account-select .lp-large-account-select-size button.dropdown-toggle .lp-acct-name,
.lp-account-select .lp-large-account-select-size ul.dropdown-menu .lp-acct-name {
  font-size: 110% !important;
  font-weight: bold;
}
.lp-account-select .lp-large-account-select-size button.dropdown-toggle .lp-account-amount,
.lp-account-select .lp-large-account-select-size ul.dropdown-menu .lp-account-amount {
  font-size: 200% !important;
  font-weight: bold;
}
